openapi: 3.0.0
info:
  contact:
    name: Kadaster Haal Centraal BRK-Bevragen
    url: https://github.com/VNG-Realisatie/Haal-Centraal-BRK-Bevragen
  description: D.m.v. deze toepassing worden meerdere, korte bevragingen op de Basis
    Registratie Kadaster beschikbaar gesteld. Deze toepassing betreft het verstrekken
    van Kadastrale Onroerende Zaak informatie.
  license:
    name: European Union Public License, version 1.2 (EUPL-1.2)
    url: https://eupl.eu/1.2/nl/
  title: Kadaster - BRK-Bevragen API
  version: 1.1.0
servers:
- description: BRK-Bevragen API - PRODUCTIE
  url: https://api.brk.kadaster.nl/esd/bevragen/v1
- description: BRK-Bevragen API - TEST (via API-key & mTLS)
  url: https://api.brk.kadaster.nl/esd-eto/bevragen/v1
- description: BRK-Bevragen API - TEST (via API-key)
  url: https://api.brk.kadaster.nl/esd-eto-apikey/bevragen/v1
security:
- apiKeyAuth: []
paths:
  /kadastraalonroerendezaken:
    get:
      description: |
        Het zoeken van kadastraal onroerende zaken door een of meer parameters op te geven uit de categorieën kadastrale aanduiding, ingeschreven persoon, kadasterpersoon of Adres. Het combineren van parameters uit verschillende categorieën is niet toegestaan.
        1.  Kadastrale aanduiding
        2.  Ingeschreven persoon als zakelijk gerechtigde
            -  burgerservicenummer (verplicht)
            -  typegerechtigde (optioneel)
        3.  Niet ingeschreven persoon of niet natuurlijk persoon als zakelijk gerechtigde
            -  kadasterpersoonidentificatie (verplicht)
            -  typegerechtigde (optioneel)
        4.  Adres
            -  postcode (verplicht)
            -  huisnummer (optioneel)
            -  huisletter (optioneel)
            -  huisnummertoevoeging (optioneel)

        Met gebruik van de parameter expand kunnen zakelijkgerechtigden direct worden meegeladen.

        Het maximale aantal zoekresultaten dat geretourneerd wordt is aan de provider om te bepalen. Als het resultaat van de de request dit aantal overtreft worden er geen resultaten geretourneerd en volgt er een foutmelding.
      operationId: GetKadastraalOnroerendeZaken
      parameters:
      - description: Gewenste CRS van de coördinaten in de response.
        explode: false
        in: header
        name: Accept-Crs
        required: false
        schema:
          default: epsg:28992
          description: CRS van de coördinaten in de response. epsg:28992 mapt op het
            RD New Nederlands coordinatenstelsel.
          enum:
          - epsg:28992
          type: string
        style: simple
      - description: Hiermee kun je opgeven welke gerelateerde resources meegeleverd
          moeten worden, en hun inhoud naar behoefte aanpassen. Hele resources of
          enkele properties geef je in de expand parameter kommagescheiden op. Properties
          die je wil ontvangen geef je op met de resource-naam gevolgd door de property
          naam, met daartussen een punt. In de definitie van het antwoord kun je bij
          _embedded zien welke gerelateerde resources meegeleverd kunnen worden. Zie
          [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/expand.feature).
        explode: true
        in: query
        name: expand
        required: false
        schema:
          type: string
        style: form
      - description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature)
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Kadastrale aanduiding is een unieke aanduiding van een onroerende zaak. De volgorde waarin deze string wordt opgebouwd is
          - [Kadastrale gemeente](http://www.kadaster.nl/schemas/waardelijsten/KadastraleGemeente/).
          - sectie, 1 of 2 hoofdletters
          - perceelnummer, 1 tot 5 cijfers
          - appartementsrechtVolgnummer, Hoofdletter A gevolgd door 1 tot 4 cijfers (optioneel)

          gescheiden door een spatie
        explode: true
        in: query
        name: kadastraleAanduiding
        required: false
        schema:
          example: '''s Gravenhage C 1277 A3'
          pattern: ^([a-zA-Z0-9'][a-zA-Z0-9' ,-]*[a-zA-Z0-9]) ([A-IK-Z]{1,2}) ([1-9][0-9]{0,4})(
            A[1-9][0-9]{0,3})?$
          type: string
        style: form
      - description: Het burgerservicenummer van de persoon die een zakelijk recht
          op een kadastraal onroerende zaak heeft. Deze persoon is zakelijk gerechtigde
          van de kadastraal onroerende zaak. Door deze query-parameter te gebruiken
          worden Kadastraal Onroerende Zaken geretourneerd waar deze persoon een zakelijk
          recht op heeft.
        explode: true
        in: query
        name: burgerservicenummer
        required: false
        schema:
          maxLength: 9
          type: string
        style: form
      - description: De identificatie van de Kadasterpersoon, een niet-ingeschreven
          persoon of een rechtspersoon waarvan de gegevens door het kadaster zijn
          geregistreerd. Deze persoon is zakelijk gerechtigde van de Kadastraal Onroerende
          Zaak. Door deze query-parameter te gebruiken worden Kadastraal Onroerende
          Zaken geretourneerd waar deze persoon een zakelijk recht op heeft.
        explode: true
        in: query
        name: persoon__identificatie
        required: false
        schema:
          type: string
        style: form
      - description: Een typering van het recht dat de zakelijkgerechtigde heeft op
          de Kadastraal Onroerende Zaak. Door het gebruik van deze query-parameter
          worden Kadastraal Onroerende Zaken geretourneerd waar een recht op rust
          van het opgegeven type.
        explode: true
        in: query
        name: zakelijkGerechtigde__type
        required: false
        schema:
          $ref: '#/components/schemas/TypeGerechtigde_enum'
        style: form
      - description: De postcode van het adres van de objectlocatie van de kadastraal
          onroerende zaak
        explode: true
        in: query
        name: postcode
        required: false
        schema:
          pattern: ^[1-9][0-9][0-9][0-9][A-Z][A-Z]$
          type: string
        style: form
      - description: Het huisnummer van het adres van de objectlocatie van de kadastraal
          onroerende zaak
        explode: true
        in: query
        name: huisnummer
        required: false
        schema:
          maximum: 99999
          minimum: 1
          type: integer
        style: form
      - description: De huisletter van het adres van de objectlocatie van de kadastraal
          onroerende zaak
        explode: true
        in: query
        name: huisletter
        required: false
        schema:
          pattern: ^[a-zA-Z]$
          type: string
        style: form
      - description: De huisnummertoevoeging van het adres van de objectlocatie van
          de kadastraal onroerende zaak
        explode: true
        in: query
        name: huisnummertoevoeging
        required: false
        schema:
          pattern: ^([a-z,A-Z,0-9]){1,4}$
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/KadastraalOnroerendeZaakHalCollectie'
          description: Zoekactie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            Content-Crs:
              $ref: '#/components/headers/contentCrs'
            warning:
              $ref: '#/components/headers/warning'
        "400":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "401":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "403":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "406":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.7
                  406 Not Acceptable
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "410":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.11
                  410 Gone
                title: Gone
                status: 410
                detail: The request could not be completed due to a conflict with
                  the current state of the resource
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: gone
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Gone
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "500":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "503":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.4
                  503 Service Unavailable
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
      tags:
      - Kadastraal Onroerende Zaken
      x-accepts: application/hal+json,application/problem+json
  /kadastraalonroerendezaken/{kadastraalonroerendezaakidentificatie}:
    get:
      description: |
        Het raadplegen van een kadastrale onroerende zaak.

        Met gebruik van de parameter expand kunnen zakelijkgerechtigden direct worden meegeladen.
      operationId: GetKadastraalOnroerendeZaak
      parameters:
      - description: De unieke identificatie van een kadastraal onroerende zaak.
        explode: false
        in: path
        name: kadastraalonroerendezaakidentificatie
        required: true
        schema:
          type: string
        style: simple
      - description: Gewenste CRS van de coördinaten in de response.
        explode: false
        in: header
        name: Accept-Crs
        required: false
        schema:
          default: epsg:28992
          description: CRS van de coördinaten in de response. epsg:28992 mapt op het
            RD New Nederlands coordinatenstelsel.
          enum:
          - epsg:28992
          type: string
        style: simple
      - description: Hiermee kun je opgeven welke gerelateerde resources meegeleverd
          moeten worden, en hun inhoud naar behoefte aanpassen. Hele resources of
          enkele properties geef je in de expand parameter kommagescheiden op. Properties
          die je wil ontvangen geef je op met de resource-naam gevolgd door de property
          naam, met daartussen een punt. In de definitie van het antwoord kun je bij
          _embedded zien welke gerelateerde resources meegeleverd kunnen worden. Zie
          [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/expand.feature).
        explode: true
        in: query
        name: expand
        required: false
        schema:
          type: string
        style: form
      - description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature)
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/KadastraalOnroerendeZaakHal'
          description: Zoekactie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            Content-Crs:
              $ref: '#/components/headers/contentCrs'
            warning:
              $ref: '#/components/headers/warning'
        "400":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "401":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "403":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "404":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.5
                  404 Not Found
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "406":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.7
                  406 Not Acceptable
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "410":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.11
                  410 Gone
                title: Gone
                status: 410
                detail: The request could not be completed due to a conflict with
                  the current state of the resource
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: gone
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Gone
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "500":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "503":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.4
                  503 Service Unavailable
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
      tags:
      - Kadastraal Onroerende Zaken
      x-accepts: application/hal+json,application/problem+json
  /kadastraalonroerendezaken/{kadastraalonroerendezaakidentificatie}/zakelijkgerechtigden/{zakelijkgerechtigdeidentificatie}:
    get:
      description: Het raadplegen van een specifieke zakelijk gerechtigde van een
        kadastraal onroerende zaak. Het aandeel van de zakelijk gerechtigde wordt
        altijd geleverd in combinatie met het gezamenlijk aandeel (wanneer twee of
        meer personen een gezamenlijk aandeel hebben in een zakelijk recht, en ieders
        afzonderlijke aandeel in het gezamenlijk aandeel niet bekend is)
      operationId: GetZakelijkGerechtigde
      parameters:
      - description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature)
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: De unieke identificatie van een kadastraal onroerende zaak.
        explode: false
        in: path
        name: kadastraalonroerendezaakidentificatie
        required: true
        schema:
          type: string
        style: simple
      - description: De identificatie van de zakelijk gerechtigde
        explode: false
        in: path
        name: zakelijkgerechtigdeidentificatie
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ZakelijkGerechtigdeHal'
          description: Zoekactie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
        "400":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "401":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "403":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "404":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.5
                  404 Not Found
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "406":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.7
                  406 Not Acceptable
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "410":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.11
                  410 Gone
                title: Gone
                status: 410
                detail: The request could not be completed due to a conflict with
                  the current state of the resource
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: gone
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Gone
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "500":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "503":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.4
                  503 Service Unavailable
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
      tags:
      - Zakelijke Gerechtigden
      x-accepts: application/hal+json,application/problem+json
  /kadastraalonroerendezaken/{kadastraalonroerendezaakidentificatie}/zakelijkgerechtigden:
    get:
      description: Het zoeken van zakelijk gerechtigden van een kadastraal onroerende
        zaak. Het aandeel van de zakelijk gerechtigde wordt altijd geleverd in combinatie
        met het gezamenlijk aandeel (wanneer twee of meer personen een gezamenlijk
        aandeel hebben in een zakelijk recht, en ieders afzonderlijke aandeel in het
        gezamenlijk aandeel niet bekend is)
      operationId: GetZakelijkGerechtigden
      parameters:
      - description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature)
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: De unieke identificatie van een kadastraal onroerende zaak.
        explode: false
        in: path
        name: kadastraalonroerendezaakidentificatie
        required: true
        schema:
          type: string
        style: simple
      - description: Het type recht dat de zakelijk gerechtigde heeft op de kadastraal
          onroerende zaak. De waarden van de typering staan in een waardelijst.
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/TypeGerechtigde_enum'
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ZakelijkGerechtigdeHalCollectie'
          description: Zoekactie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
        "400":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "401":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "403":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "404":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.5
                  404 Not Found
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "406":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.7
                  406 Not Acceptable
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "410":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.11
                  410 Gone
                title: Gone
                status: 410
                detail: The request could not be completed due to a conflict with
                  the current state of the resource
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: gone
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Gone
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "500":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "503":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.4
                  503 Service Unavailable
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
      tags:
      - Zakelijke Gerechtigden
      x-accepts: application/hal+json,application/problem+json
  /kadasternatuurlijkpersonen/{kadasternatuurlijkpersoonidentificatie}:
    get:
      description: Het raadplegen van een bij het kadaster geregistreerde natuurlijke
        persoon die niet in de basisregistratie personen (BRP) is ingeschreven (of
        wel is ingeschreven maar niet is gekoppeld bij het inschrijven van de akte).
        Kadasternatuurlijkpersonen worden niet geactualiseerd.
      operationId: GetKadasterPersoon
      parameters:
      - description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature)
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: kadasternatuurlijkpersoonidentificatie
        required: true
        schema:
          maxLength: 60
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/KadasterNatuurlijkPersoonHal'
          description: Zoekactie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
        "400":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "401":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "403":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "404":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.5
                  404 Not Found
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "406":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.7
                  406 Not Acceptable
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "410":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.11
                  410 Gone
                title: Gone
                status: 410
                detail: The request could not be completed due to a conflict with
                  the current state of the resource
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: gone
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Gone
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "500":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "503":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.4
                  503 Service Unavailable
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
      tags:
      - Kadaster (niet)Natuurlijk Personen
      x-accepts: application/hal+json,application/problem+json
  /kadasternietnatuurlijkpersonen/{kadasternietnatuurlijkpersoonidentificatie}:
    get:
      description: Het raadplegen van een bij het kadaster geregistreerde niet natuurlijke
        persoon die al dan niet in het handelsregister (HR) is ingeschreven. Kadasternietnatuurlijkpersonen
        worden niet geactualiseerd.
      operationId: GetKadasterNietNatuurlijkPersoon
      parameters:
      - description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature)
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: kadasternietnatuurlijkpersoonidentificatie
        required: true
        schema:
          maxLength: 60
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/KadasterNietNatuurlijkPersoonHal'
          description: Zoekactie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
        "400":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "401":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "403":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "404":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.5
                  404 Not Found
                title: Opgevraagde resource bestaat niet.
                status: 404
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Found
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "406":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.7
                  406 Not Acceptable
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "410":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.11
                  410 Gone
                title: Gone
                status: 410
                detail: The request could not be completed due to a conflict with
                  the current state of the resource
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: gone
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Gone
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "500":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "503":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.4
                  503 Service Unavailable
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
      tags:
      - Kadaster (niet)Natuurlijk Personen
      x-accepts: application/hal+json,application/problem+json
  /kadasternatuurlijkpersonen:
    get:
      description: 'Het zoeken van bij het kadaster geregistreerde natuurlijke personen
        die niet in de basisregistratie personen (BRP) zijn ingeschreven (of wel zijn
        ingeschreven maar niet zijn _gematched_ bij het inschrijven van de akte).
        Kadasternatuurlijkpersonen worden niet geactualiseerd. '
      operationId: GetKadasterPersonen
      parameters:
      - description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature)
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: Free query parameter. Dit endpoint evolueert naar free query
          zoeken. In deze versie kan alleen een combinatie van (het begin van) de
          geslachtsnaam en geboortedatum [YYYY-mm-dd] worden opgegeven.
        explode: true
        in: query
        name: q
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/KadasterNatuurlijkPersoonHalCollectie'
          description: Zoekactie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
        "400":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "401":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "403":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "406":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.7
                  406 Not Acceptable
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "410":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.11
                  410 Gone
                title: Gone
                status: 410
                detail: The request could not be completed due to a conflict with
                  the current state of the resource
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: gone
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Gone
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "500":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "503":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.4
                  503 Service Unavailable
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
      tags:
      - Kadaster (niet)Natuurlijk Personen
      x-accepts: application/hal+json,application/problem+json
  /kadasternietnatuurlijkpersonen:
    get:
      description: Het zoeken van bij het kadaster geregistreerde niet natuurlijke
        personen die al dan niet in het handelsregister (HR) zijn ingeschreven. Kadasternietnatuurlijkpersonen
        worden niet geactualiseerd.
      operationId: GetKadasterNietNatuurlijkPersonen
      parameters:
      - description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.0.0/features/fields.feature)
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: Free query parameter. Dit endpoint evolueert naar free query
          zoeken. In deze versie kan alleen een combinatie van (het begin van de)
          de statutaire naam en zetel (vestigingsplaats) worden opgegeven. Let op!
          Een niet natuurlijk persoon kan meerdere keren, en op meer dan één manier
          voorkomen in de BRK.
        explode: true
        in: query
        name: q
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/KadasterNietNatuurlijkPersoonHalCollectie'
          description: Zoekactie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
        "400":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "401":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "403":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "406":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.7
                  406 Not Acceptable
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "410":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.11
                  410 Gone
                title: Gone
                status: 410
                detail: The request could not be completed due to a conflict with
                  the current state of the resource
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: gone
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Gone
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "500":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "503":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.4
                  503 Service Unavailable
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
      tags:
      - Kadaster (niet)Natuurlijk Personen
      x-accepts: application/hal+json,application/problem+json
components:
  headers:
    api_version:
      explode: false
      schema:
        description: Geeft een specifieke API-versie aan in de context van een specifieke
          aanroep.
        example: 1.0.0
        type: string
      style: simple
    contentCrs:
      description: CRS van de meegegeven geometrie. epsg:28992 mapt op het RD New
        Nederlands coordinatenstelsel.
      explode: false
      schema:
        default: epsg:28992
        enum:
        - epsg:28992
        type: string
      style: simple
    warning:
      explode: false
      schema:
        description: zie RFC 7234. In het geval een major versie wordt uitgefaseerd,
          gebruiken we warn-code 299 ("Miscellaneous Persistent Warning") en het API
          end-point (inclusief versienummer) als de warn-agent van de warning, gevolgd
          door de warn-text met de human-readable waarschuwing
        example: '299 https://service.../api/.../v1 "Deze versie van de API is verouderd
          en zal uit dienst worden genomen op 2018-02-01. Raadpleeg voor meer informatie
          hier de documentatie: https://omgevingswet.../api/.../v1".'
        type: string
      style: simple
  schemas:
    Aantekening:
      description: 'Waardelijst in deze component : [aard](http://www.kadaster.nl/schemas/waardelijsten/AardAantekening/)'
      properties:
        identificatie:
          type: string
        domein:
          description: Het domein waartoe de identificatie behoort.
          type: string
        aard:
          $ref: '#/components/schemas/Waardelijst'
        omschrijving:
          type: string
        begrenzing:
          $ref: '#/components/schemas/polygonGeoJSON'
        einddatum:
          format: date
          type: string
        einddatumRecht:
          format: date
          type: string
        indicatieOorspronkelijkObject:
          type: boolean
        betreftGedeelteVanPerceel:
          type: boolean
      type: object
    Bedrag:
      description: |-
        Hoeveelheid geld in cijfers in een bepaalde valuta.

        Waardelijst in deze component : [Valuta](http://www.kadaster.nl/schemas/waardelijsten/Valuta/)
      properties:
        som:
          description: Het bedrag. Dit is een waarde met max. 2 decimalen.
          format: float
          type: number
        valuta:
          $ref: '#/components/schemas/Waardelijst'
      type: object
    ErfpachtCanon:
      description: |-
        Het bedrag dat een erfpachter moet betalen aan de eigenaar van een stuk grond omdat hij zijn grond gebruikt.

        Waardelijst in deze component : [soortErfpachtCanon](http://www.kadaster.nl/schemas/waardelijsten/SoortErfpachtcanon/)
      properties:
        soortErfpachtCanon:
          $ref: '#/components/schemas/Waardelijst'
        jaarlijksBedrag:
          $ref: '#/components/schemas/Bedrag'
        betrefMeerOnroerendeZaken:
          description: Indicatie waarmee wordt aangegeven dat het jaarlijks bedrag
            meerdere onroerende zaken betreft.
          type: boolean
        einddatumAfkoop:
          format: date
          type: string
        indicatieOudeOnroerendeZaakBetrokken:
          description: Indicatie waarmee wordt aangegeven dat de erfpacht oorspronkelijk
            gevestigd is bij een perceel dat later is verenigd met een ander perceel.
          type: boolean
      type: object
    Geboorte:
      description: |-
        Geboorte is een groep gegevens over de geboorte van een persoon.

        Waardelijst in deze component : [land](http://www.kadaster.nl/schemas/waardelijsten/BRPLand/)
      properties:
        plaats:
          description: De geboorteplaats is de plaats of een plaatsbepaling, die aangeeft
            waar de persoon is geboren
          title: geboorteplaats
          type: string
        datum:
          $ref: '#/components/schemas/Datum_onvolledig'
        land:
          $ref: '#/components/schemas/Waardelijst'
      type: object
    Geslacht_enum:
      description: |-
        Een aanduiding die aangeeft dat de ingeschrevene een man of een vrouw is, of dat het geslacht (nog) onbekend is:
        * `man` - Man
        * `vrouw` - Vrouw
        * `onbekend` - Onbekend
      enum:
      - man
      - vrouw
      - onbekend
      type: string
    HeeftPartnerschap:
      description: Partnerschap is een groep gegevens over de huwelijkse- of partnerschapstatus
        van een persoon.
      properties:
        datumOntbinding:
          $ref: '#/components/schemas/Datum_onvolledig'
        datumSluiting:
          $ref: '#/components/schemas/Datum_onvolledig'
        naam:
          $ref: '#/components/schemas/Naam'
      type: object
    KadasterNatuurlijkPersoon:
      allOf:
      - $ref: '#/components/schemas/KadasterPersoon'
      - $ref: '#/components/schemas/KadasterNatuurlijkPersoon_allOf'
    KadasterNatuurlijkPersoonHal:
      allOf:
      - $ref: '#/components/schemas/KadasterNatuurlijkPersoon'
      - $ref: '#/components/schemas/KadasterNatuurlijkPersoonHal_allOf'
    KadasterNatuurlijkPersoonHalCollectie:
      properties:
        _links:
          $ref: '#/components/schemas/HalCollectionLinks'
        _embedded:
          $ref: '#/components/schemas/KadasterNatuurlijkPersoonHalCollectie_embedded'
      type: object
    KadasterNatuurlijkPersoonHalCollectie_embedded:
      properties:
        kadasterNatuurlijkPersonen:
          items:
            $ref: '#/components/schemas/KadasterNatuurlijkPersoonHal'
          type: array
      type: object
    KadasterNietNatuurlijkPersoon:
      allOf:
      - $ref: '#/components/schemas/KadasterPersoon'
      - $ref: '#/components/schemas/KadasterNietNatuurlijkPersoon_allOf'
    KadasterNietNatuurlijkPersoonHal:
      allOf:
      - $ref: '#/components/schemas/KadasterNietNatuurlijkPersoon'
      - $ref: '#/components/schemas/KadasterNatuurlijkPersoonHal_allOf'
    KadasterNietNatuurlijkPersoonHalCollectie:
      properties:
        _links:
          $ref: '#/components/schemas/HalCollectionLinks'
        _embedded:
          $ref: '#/components/schemas/KadasterNietNatuurlijkPersoonHalCollectie_embedded'
      type: object
    KadasterNietNatuurlijkPersoonHalCollectie_embedded:
      properties:
        kadasterNietNatuurlijkPersonen:
          items:
            $ref: '#/components/schemas/KadasterNietNatuurlijkPersoonHal'
          type: array
      type: object
    KadasterPersoon:
      allOf:
      - $ref: '#/components/schemas/PersoonBasis'
      - $ref: '#/components/schemas/KadasterPersoon_allOf'
    KadasterPersoon_links:
      properties:
        self:
          $ref: '#/components/schemas/HalLink'
        woonadres:
          $ref: '#/components/schemas/HalLink'
        postadres:
          $ref: '#/components/schemas/HalLink'
        kadastraalOnroerendeZaken:
          items:
            $ref: '#/components/schemas/HalLink'
          type: array
        zakelijkGerechtigden:
          items:
            $ref: '#/components/schemas/HalLink'
          type: array
      type: object
    KadastraalOnroerendeZaak:
      description: "Een kadastraal onroerende zaak is een perceel of een appartementsrecht.\
        \ Een perceel is een stuk grond waarvan het Kadaster de grenzen heeft gemeten\
        \ en dat bij het Kadaster een eigen nummer heeft. Een appartementsrecht is\
        \ het recht dat iemand of een organisatie heeft om eigenaar te zijn van een\
        \ deel van een gebouw of een stuk grond. In de praktijk wordt dit deel meestal\
        \ een appartement genoemd.\n\nWaardelijst in deze component : [aardCultuurBebouwd](http://www.kadaster.nl/schemas/waardelijsten/CultuurcodeBebouwd/)\
        \ en [aardCultuurOnbebouwd](http://www.kadaster.nl/schemas/waardelijsten/CultuurcodeOnbebouwd/) "
      properties:
        identificatie:
          type: string
        domein:
          description: Het domein waartoe de identificatie behoort.
          type: string
        begrenzingPerceel:
          $ref: '#/components/schemas/polygonGeoJSON'
        perceelnummerRotatie:
          description: Rotatie van het perceelnummer ten behoeve van visualisatie
            op de kaart. Perceelnummers worden bijvoorbeeld gekanteld om in een smal
            perceel te passen.
          maximum: 999
          type: number
        plaatscoordinaten:
          $ref: '#/components/schemas/pointGeoJSON'
        koopsom:
          $ref: '#/components/schemas/TypeKoopsom'
        toelichtingBewaarder:
          description: Toelichtende tekst bij een onroerende zaak van de bewaarder.
            De bewaarder is iemand die bij het Kadaster werkt. Hij schrijft stukken
            in in de openbare registers en de basisregistratie Kadaster conform de
            Kadasterwet.
          type: string
        type:
          $ref: '#/components/schemas/TypeKadastraalOnroerendeZaak_enum'
        aardCultuurBebouwd:
          $ref: '#/components/schemas/Waardelijst'
        aardCultuurOnbebouwd:
          $ref: '#/components/schemas/Waardelijst'
        kadastraleAanduiding:
          type: string
        kadastraleGrootte:
          $ref: '#/components/schemas/TypeOppervlak'
        perceelnummerVerschuiving:
          $ref: '#/components/schemas/TypePerceelnummerVerschuiving'
        adressen:
          items:
            $ref: '#/components/schemas/LocatieKadastraalObject'
          type: array
        zakelijkGerechtigdeIdentificaties:
          description: Alle personen en rechtspersonen die een zakelijk recht hebben
            op deze kadastaraal onroerende zaak
          items:
            type: string
          type: array
      type: object
    KadastraalOnroerendeZaakHal:
      allOf:
      - $ref: '#/components/schemas/KadastraalOnroerendeZaak'
      - $ref: '#/components/schemas/KadastraalOnroerendeZaakHal_allOf'
    KadastraalOnroerendeZaakHalCollectie:
      properties:
        _links:
          $ref: '#/components/schemas/HalCollectionLinks'
        _embedded:
          $ref: '#/components/schemas/KadastraalOnroerendeZaakHalCollectie_embedded'
      type: object
    KadastraalOnroerendeZaakHalCollectie_embedded:
      properties:
        kadastraalOnroerendeZaken:
          items:
            $ref: '#/components/schemas/KadastraalOnroerendeZaakHal'
          type: array
      type: object
    KadastraalOnroerendeZaak_embedded:
      properties:
        zakelijkGerechtigden:
          items:
            $ref: '#/components/schemas/ZakelijkGerechtigdeHal'
          type: array
      type: object
    KadastraalOnroerendeZaak_links:
      properties:
        self:
          $ref: '#/components/schemas/HalLink'
        zakelijkGerechtigden:
          items:
            $ref: '#/components/schemas/HalLink'
          type: array
      type: object
    LocatieKadastraalObject:
      description: 'Waardelijst in deze component : [koppelingswijze](http://www.kadaster.nl/schemas/waardelijsten/Koppelingswijze)'
      properties:
        nummeraanduidingIdentificatie:
          type: string
        koppelingswijze:
          $ref: '#/components/schemas/Waardelijst'
      type: object
    Naam:
      description: Naam is een groep gegevens met de geslachtsnaam, voorletters en
        voornamen die men wil gebruiken bij aanschrijving.
      properties:
        geslachtsnaam:
          description: De geslachtsnaam is de (achter)naam waarvan eventuele voorvoegsels
            en adellijke titel zijn afgesplitst.
          type: string
        voornamen:
          description: De voornamen zijn de verzameling namen die, gescheiden door
            spaties, aan de geslachtsnaam voorafgaat. Indien aanwezig, wordt het predikaat
            afgesplitst.
          type: string
        voorvoegsel:
          description: Voorvoegselsgeslachtsnaam is het deel van de geslachtsnaam
            dat, gescheiden door een spatie, vooraf gaat aan de rest van de geslachtsnaam.
          title: voorvoegselsgeslachtsnaam
          type: string
      type: object
    NatuurlijkPersoonBeperkt:
      allOf:
      - $ref: '#/components/schemas/PersoonBasis'
      - $ref: '#/components/schemas/NatuurlijkPersoonBeperkt_allOf'
    NatuurlijkPersoonType_enum:
      description: Een aanduiding die aangeeft of de persoon ingeschreven is in het
        BRP met een burgerservicenummer, dan wel vastgelegd is bij het Kadaster.
      enum:
      - ingeschreven_natuurlijk_persoon
      - kadaster_natuurlijk_persoon
      type: string
    NietNatuurlijkPersoonBeperkt:
      allOf:
      - $ref: '#/components/schemas/PersoonBasis'
      - $ref: '#/components/schemas/NietNatuurlijkPersoonBeperkt_allOf'
    NietNatuurlijkPersoonType_enum:
      description: Een aanduiding die aangeeft of de persoon ingeschreven is in het
        Handelsregister (KvK) met een rsin, dan wel vastgelegd is bij het Kadaster.
      enum:
      - ingeschreven_niet_natuurlijk_persoon
      - kadaster_niet_natuurlijk_persoon
      type: string
    Adres:
      description: 'Waardelijst in deze component : [land](http://www.kadaster.nl/schemas/waardelijsten/BRPLand/)'
      example:
        nummeraanduidingIdentificatie: "1234207890123456"
        huisnummer: 26
        huisletter: A
        huisnummertoevoeging: "3"
        straat: Laan van de landinrichtingscommissie Duiven-Westervoort
        postcode: 1234AA
        woonplaats: Nootdorp
        adresregel1: Laan van de landinrichtingscommissie Duiven-Westervoort 26A-3
        adresregel2: 1234AA Nootdorp
      properties:
        nummeraanduidingIdentificatie:
          description: identificatie van het adres in het geval dit adres in BAG geregistreerd
            is.
          type: string
        huisnummer:
          description: URI https://bag.basisregistraties.overheid.nl/doc/begrip/Huisnummer
          type: integer
        huisletter:
          description: URI https://bag.basisregistraties.overheid.nl/doc/begrip/Huisletter
          example: A
          type: string
        huisnummertoevoeging:
          description: URI https://bag.basisregistraties.overheid.nl/doc/begrip/Huisnummertoevoeging
          example: "3"
          type: string
        straat:
          example: Laan van de landinrichtingscommissie Duiven-Westervoort
          type: string
        postcode:
          example: 1234AA
          type: string
        woonplaats:
          example: Nootdorp
          type: string
        adresregel1:
          description: Het eerste deel van een adres is een combinatie van de straat
            en huisnummer.
          example: Laan van de landinrichtingscommissie Duiven-Westervoort 26A-3
          type: string
        adresregel2:
          description: Het tweede deel van een adres is een combinatie van woonplaats
            eventueel in combinatie met de postcode
          example: 1234AA Nootdorp
          type: string
        adresregel3:
          description: Het derde deel van een adres is optioneel een of meer geografische
            gebieden van het adres in het buitenland
          example: Selangor
          type: string
        land:
          $ref: '#/components/schemas/Waardelijst'
    Postadres:
      allOf:
      - $ref: '#/components/schemas/Adres'
      - $ref: '#/components/schemas/Postadres_allOf'
    Overlijden:
      description: Overlijden is een groep gegevens over het overlijden van een persoon.
      properties:
        datum:
          $ref: '#/components/schemas/Datum_onvolledig'
      type: object
    PersoonBasis:
      description: Een persoon kan een natuurlijk persoon of een niet-natuurlijk persoon
        zijn. Kan zowel een ingeschreven persoon (in resp. BRP of KvK) of Kadasterpersoon
        zijn.
      properties:
        identificatie:
          description: Unieke identificatie voor de persoon. Voor een Kadasterpersoon
            is dit de identificatie zoals die door het Kadaster is vastgesteld. Voor
            een ingeschreven natuurlijk persoon is dit het burgerservicenummer. Voor
            een ingeschreven niet-natuurlijk persoon is dit het RSIN. Of de waarde
            in identificatie een burgerservicenummer, een RSIN of een kadasterpersoonidentificatie
            is kan worden afgeleid uit het type persoon.
          type: string
        omschrijving:
          description: Voor mensen leesbare, herkenbare en identificerende omschrijving
            van de persoon (met bijvoorbeeld de naam).
          type: string
      type: object
    PersoonBeperkt:
      allOf:
      - $ref: '#/components/schemas/PersoonBasis'
      - $ref: '#/components/schemas/PersoonBeperkt_allOf'
    PersoonType_enum:
      description: Een aanduiding die aangeeft of het een natuurlijk dan wel niet-natuurlijk
        persoon betreft en of de persoon ingeschreven is in het BRP of Handelsregister
        (KvK), dan wel vastgelegd is bij het Kadaster.
      enum:
      - ingeschreven_natuurlijk_persoon
      - kadaster_natuurlijk_persoon
      - ingeschreven_niet_natuurlijk_persoon
      - kadaster_niet_natuurlijk_persoon
      type: string
    Tenaamstelling:
      description: |-
        Een registratie van (een aandeel in) een zakelijk recht dat een persoon heeft, dat rust op een kadastraal onroerende zaak.

        Waardelijst in deze component : [burgerlijkeStaatTenTijdeVanVerkrijging](http://www.kadaster.nl/schemas/waardelijsten/BurgerlijkeStaat/) en [verkregenNamensSamenwerkingsverband](http://www.kadaster.nl/schemas/waardelijsten/Samenwerkingsverband/)
      properties:
        aandeel:
          $ref: '#/components/schemas/TypeBreuk'
        burgerlijkeStaatTenTijdeVanVerkrijging:
          $ref: '#/components/schemas/Waardelijst'
        verkregenNamensSamenwerkingsverband:
          $ref: '#/components/schemas/Waardelijst'
        aantekeningen:
          description: Een aantekening is een verwijzing naar een ter inschrijving
            aangeboden stuk. Een aantekening op een tenaamstelling van een zakelijk
            recht is meestal een beperking. Bijvoorbeeld de verkrijging van een aandeel
            in een zakelijk recht onder opschortende voorwaarde, een beperking van
            de handelingsbevoegdheid van de zakelijk gerechtigde, of een koopovereenkomst
          items:
            $ref: '#/components/schemas/Aantekening'
          type: array
        gezamenlijkAandeel:
          $ref: '#/components/schemas/TypeBreuk'
        betrokkenPartner:
          $ref: '#/components/schemas/NatuurlijkPersoonBeperkt'
        betrokkenSamenwerkingsverband:
          $ref: '#/components/schemas/NietNatuurlijkPersoonBeperkt'
        betrokkenGorzenEnAanwassen:
          $ref: '#/components/schemas/NietNatuurlijkPersoonBeperkt'
      type: object
    TypeBreuk:
      description: Een deling van twee gehele getallen
      example:
        noemer: 2
        teller: 1
      properties:
        noemer:
          description: De noemer van het deel.
          maximum: 99999999
          minimum: 1
          title: noemer
          type: integer
        teller:
          description: Het aantal delen. De teller is altijd lager dan de noemer.
          maximum: 99999999
          title: teller
          type: integer
      type: object
    TypeGerechtigde_enum:
      description: |-
        Het type zakelijk recht dat deze gerechtigde heeft. Afgeleid van de aard zakelijk recht:
         * `beklemrechthouder` - 1 Beklemrechthouder
         * `eigenaar` - 2 Eigenaar
         * `erfpachter` - 3 Erfpachter
         * `gebruik_bewoning` - 4 Rechthebbende van Gebruik en bewoning
         * `grondrente` - 5 Grondrente gerechtigde
         * `opstalhouder` - 7 Opstalhouder
         * `vaderlandsrecht` - 9 Rechthebbende van Oud-vaderlandsrecht
         * `stadsmeierrecht` - 11 Rechthebbende van Stadsmeierrecht
         * `vruchtgebruiker` - 12 Vruchtgebruiker
         * `erfpachter_opstalhouder` - 13 Erfpachter en opstalhouder
         * `nutsvoorzieningen` - 14 Opstalhouder nutsvoorzieningen
         * `twee_belastingen` - 20 Zakelijk Rechthebbende na twee of meer zakelijke belastingen
         * `belasting_derde` - 21 Zakelijk rechthebbende belasting derde of volgende
         * `bp_recht` - 22 BP-gerechtigde
         * `nutsvoorzieningen_gedeelte` - 23 Opstalhouder Nutsvoorzieningen op gedeelte van perceel
         * `artikel5_3b` - 24 Zakelijk gerechtigde als bedoeld in artikel 5, lid 3, onder b, van de Belemmeringenwet Privaatrecht op gedeelte van perceel
      enum:
      - beklemrechthouder
      - eigenaar
      - erfpachter
      - gebruik_bewoning
      - grondrente
      - opstalhouder
      - vaderlandsrecht
      - stadsmeierrecht
      - vruchtgebruiker
      - erfpachter_opstalhouder
      - nutsvoorzieningen
      - twee_belastingen
      - belasting_derde
      - bp_recht
      - nutsvoorzieningen_gedeelte
      - artikel5_3b
      type: string
    TypeKadastraalOnroerendeZaak_enum:
      enum:
      - appartementsrecht
      - perceel
      type: string
    TypeKoopsom:
      properties:
        koopsom:
          type: integer
        koopjaar:
          type: integer
        indicatieMetMeerObjectenVerkregen:
          type: boolean
      type: object
    TypeOppervlak:
      description: |-
        Oppervlakte

        Waardelijst in deze component : [soortGrootte](http://www.kadaster.nl/schemas/waardelijsten/SoortGrootte/)
      properties:
        soortGrootte:
          $ref: '#/components/schemas/Waardelijst'
        waarde:
          description: Oppervlak grootte, in vierkante meters
          type: integer
      type: object
    TypePerceelnummerVerschuiving:
      description: Verschuiving van het perceelnummer ten behoeve van visualisatie
        op een kaart. Dit voorkomt dat perceelnummers van kleine percelen elkaar overlappen.
      properties:
        deltax:
          description: Verschuiving op de X as.
          type: number
        deltay:
          description: Verschuiving op de Y as.
          type: number
      type: object
    Waardelijst:
      description: Waardelijst is een samengesteld datatype voor het weergeven van
        een gegeven binnen een extern beheerde referentielijst. De waardelijsten zijn
        beschikbaargesteld op [deze locatie](http://www.kadaster.nl/schemas/waardelijsten/)
      properties:
        code:
          minLength: 1
          type: string
        waarde:
          type: string
      type: object
    ZakelijkGerechtigde:
      properties:
        identificatie:
          description: Identificatie van de zakelijk gerechtigde.
          type: string
        type:
          $ref: '#/components/schemas/TypeGerechtigde_enum'
        aanvangsdatum:
          description: 'Datum waarop het zakelijk recht van kracht is geworden. '
          format: date
          type: string
        erfpachtCanon:
          $ref: '#/components/schemas/ErfpachtCanon'
        tenaamstelling:
          $ref: '#/components/schemas/Tenaamstelling'
        persoon:
          $ref: '#/components/schemas/PersoonBeperkt'
      type: object
    ZakelijkGerechtigdeHal:
      allOf:
      - $ref: '#/components/schemas/ZakelijkGerechtigde'
      - $ref: '#/components/schemas/ZakelijkGerechtigdeHal_allOf'
    ZakelijkGerechtigdeHalCollectie:
      properties:
        _links:
          $ref: '#/components/schemas/HalCollectionLinks'
        _embedded:
          $ref: '#/components/schemas/ZakelijkGerechtigdeHalCollectie_embedded'
      type: object
    ZakelijkGerechtigdeHalCollectie_embedded:
      properties:
        zakelijkGerechtigden:
          items:
            $ref: '#/components/schemas/ZakelijkGerechtigdeHal'
          type: array
      type: object
    ZakelijkGerechtigde_links:
      properties:
        self:
          $ref: '#/components/schemas/HalLink'
        persoon:
          $ref: '#/components/schemas/HalLink'
        betrokkenPartner:
          $ref: '#/components/schemas/HalLink'
        betrokkenSamenwerkingsverband:
          $ref: '#/components/schemas/HalLink'
        betrokkenGorzenEnAanwassen:
          $ref: '#/components/schemas/HalLink'
      type: object
    BadRequestFoutbericht:
      allOf:
      - $ref: '#/components/schemas/Foutbericht'
      - $ref: '#/components/schemas/BadRequestFoutbericht_allOf'
    Foutbericht:
      description: Terugmelding bij een fout. JSON representatie in lijn met [RFC7807](https://tools.ietf.org/html/rfc7807).
      properties:
        type:
          description: Link naar meer informatie over deze fout
          format: uri
          type: string
        title:
          description: Beschrijving van de fout
          type: string
        status:
          description: Http status code
          type: integer
        detail:
          description: Details over de fout
          type: string
        instance:
[...]
