{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Kadaster - BRK-Bevragen API",
    "description" : "D.m.v. deze toepassing worden meerdere, korte bevragingen op de Basis Registratie Kadaster beschikbaar gesteld.\nDeze toepassing betreft het verstrekken van Kadastrale Onroerende Zaak informatie.\n",
    "contact" : {
      "name" : "Kadaster Haal Centraal BRK-Bevragen",
      "url" : "https://github.com/VNG-Realisatie/Haal-Centraal-BRK-Bevragen"
    },
    "license" : {
      "name" : "European Union Public License, version 1.2 (EUPL-1.2)",
      "url" : "https://eupl.eu/1.2/nl/"
    },
    "version" : "1.3.0"
  },
  "servers" : [ {
    "url" : "https://api.brk.kadaster.nl/esd-eto-apikey/bevragen/v1",
    "description" : "BRK-Bevragen API - TEST (via API-key)\n"
  }, {
    "url" : "https://api.brk.kadaster.nl/esd-eto/bevragen/v1",
    "description" : "BRK-Bevragen API - TEST (via API-key & mTLS)\n"
  }, {
    "url" : "https://api.brk.kadaster.nl/esd/bevragen/v1",
    "description" : "BRK-Bevragen API - PRODUCTIE\n"
  } ],
  "security" : [ {
    "apiKeyAuth" : [ ]
  } ],
  "tags" : [ {
    "name" : "Kadastraal Onroerende Zaken"
  }, {
    "name" : "Zakelijke Gerechtigden"
  }, {
    "name" : "Beslagen"
  }, {
    "name" : "Hypotheken"
  }, {
    "name" : "Privaatrechtelijke Beperkingen"
  }, {
    "name" : "Publiekrechtelijke Beperkingen"
  }, {
    "name" : "Kadaster (niet)Natuurlijk Personen"
  }, {
    "name" : "Stukken"
  } ],
  "paths" : {
    "/kadastraalonroerendezaken" : {
      "get" : {
        "tags" : [ "Kadastraal Onroerende Zaken" ],
        "description" : "Het zoeken van kadastraal onroerende zaken door exact één van de volgende categorieën parameters op te geven.\nHet combineren van parameters uit verschillende categorieën is niet toegestaan.\n1.  Kadastrale aanduiding\n    - kadastraleAanduiding\n2.  Ingeschreven persoon als zakelijk gerechtigde\n    -  burgerservicenummer (verplicht)\n    -  zakelijkGerechtigde__type (optioneel)\n3.  Niet ingeschreven persoon of niet natuurlijk persoon als zakelijk gerechtigde\n    -  persoon__identificatie (verplicht)\n    -  zakelijkGerechtigde__type (optioneel)\n4.  Adres\n    -  postcode (verplicht)\n    -  huisnummer (optioneel)\n    -  huisletter (optioneel)\n    -  huisnummertoevoeging (optioneel)\n5.  Nummeraanduiding\n    - nummeraanduidingIdentificatie\n\nMet gebruik van de parameter expand kunnen zakelijkGerechtigden en privaatrechtelijkeBeperkingen direct worden meegeladen.\n\nHet maximale aantal zoekresultaten dat geretourneerd wordt is aan de provider om te bepalen.\nAls het resultaat van de de request dit aantal overtreft worden er geen resultaten geretourneerd en volgt er een foutmelding.\n",
        "operationId" : "GetKadastraalOnroerendeZaken",
        "parameters" : [ {
          "name" : "Accept-Crs",
          "in" : "header",
          "description" : "Gewenste CRS van de coördinaten in de response.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "CRS van de coördinaten in de response. epsg:28992 mapt op het RD New Nederlands coordinatenstelsel.",
            "enum" : [ "epsg:28992" ]
          }
        }, {
          "name" : "expand",
          "in" : "query",
          "description" : "Hiermee kun je opgeven welke gerelateerde resources meegeleverd moeten worden, en hun inhoud naar behoefte aanpassen. Hele resources of enkele properties geef je in de expand parameter kommagescheiden op. Properties die je wil ontvangen geef je op met de resource-naam gevolgd door de property naam, met daartussen een punt. In de definitie van het antwoord kun je bij _embedded zien welke gerelateerde resources meegeleverd kunnen worden. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/expand.feature).",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "Hiermee kun je de inhoud van de resource naar behoefte aanpassen door een door komma's gescheiden lijst van property namen op te geven. Bij opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven. Wanneer de fields parameter niet is opgegeven, worden alle properties met een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "kadastraleAanduiding",
          "in" : "query",
          "description" : "Kadastrale aanduiding is een unieke aanduiding van een onroerende zaak. De volgorde waarin deze string wordt opgebouwd is\n\n- [Kadastrale gemeente](http://www.kadaster.nl/schemas/waardelijsten/KadastraleGemeente/).\n\n- sectie, 1 of 2 hoofdletters\n\n- perceelnummer, 1 tot 5 cijfers\n\n- appartementsrechtVolgnummer, Hoofdletter A gevolgd door 1 tot 4 cijfers (optioneel)\n\n\ngescheiden door een spatie\"\n",
          "schema" : {
            "pattern" : "^([a-zA-Z0-9'][a-zA-Z0-9' ,-]*[a-zA-Z0-9]) ([A-IK-Z]{1,2}) ([1-9][0-9]{0,4})( A[1-9][0-9]{0,3})?$",
            "type" : "string",
            "example" : "'s Gravenhage C 1277 A3"
          }
        }, {
          "name" : "burgerservicenummer",
          "in" : "query",
          "description" : "Het burgerservicenummer van de persoon die een zakelijk recht op een kadastraal onroerende zaak heeft. Deze persoon is zakelijk gerechtigde van de kadastraal onroerende zaak. Door deze query-parameter te gebruiken worden Kadastraal Onroerende Zaken geretourneerd waar deze persoon een zakelijk recht op heeft.\n",
          "required" : false,
          "schema" : {
            "maxLength" : 9,
            "type" : "string"
          }
        }, {
          "name" : "persoon__identificatie",
          "in" : "query",
          "description" : "De identificatie van de Kadasterpersoon, een niet-ingeschreven persoon of een rechtspersoon waarvan de gegevens door het kadaster zijn geregistreerd. Deze persoon is zakelijk gerechtigde van de Kadastraal Onroerende Zaak. Door deze query-parameter te gebruiken worden Kadastraal Onroerende Zaken geretourneerd waar deze persoon een zakelijk recht op heeft.\n",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "zakelijkGerechtigde__type",
          "in" : "query",
          "description" : "Een typering van het recht dat de zakelijkgerechtigde heeft op de Kadastraal Onroerende Zaak. Door het gebruik van deze query-parameter worden Kadastraal Onroerende Zaken geretourneerd waar een recht op rust van het opgegeven type.\n",
          "required" : false,
          "schema" : {
            "$ref" : "#/components/schemas/TypeGerechtigdeEnum"
          }
        }, {
          "name" : "postcode",
          "in" : "query",
          "description" : "De postcode van het adres van de objectlocatie van de kadastraal onroerende zaak.\n",
          "required" : false,
          "schema" : {
            "pattern" : "^[1-9][0-9][0-9][0-9][A-Z][A-Z]$",
            "type" : "string"
          }
        }, {
          "name" : "huisnummer",
          "in" : "query",
          "description" : "Het huisnummer van het adres van de objectlocatie van de kadastraal onroerende zaak.\n",
          "required" : false,
          "schema" : {
            "maximum" : 99999,
            "minimum" : 1,
            "type" : "integer"
          }
        }, {
          "name" : "huisletter",
          "in" : "query",
          "description" : "De huisletter van het adres van de objectlocatie van de kadastraal onroerende zaak.\n",
          "required" : false,
          "schema" : {
            "pattern" : "^[a-zA-Z]$",
            "type" : "string"
          }
        }, {
          "name" : "huisnummertoevoeging",
          "in" : "query",
          "description" : "De huisnummertoevoeging van het adres van de objectlocatie van de kadastraal onroerende zaak.\n",
          "required" : false,
          "schema" : {
            "pattern" : "^([a-z,A-Z,0-9]){1,4}$",
            "type" : "string"
          }
        }, {
          "name" : "nummeraanduidingIdentificatie",
          "in" : "query",
          "description" : "De nummeraanduidingIdentificatie van een adres dat is geregistreerd als de locatie van deze kadastraal onroerende zaak.\n",
          "required" : false,
          "schema" : {
            "pattern" : "^[0-9]{16}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Zoekactie geslaagd\n",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              },
              "Content-Crs" : {
                "$ref" : "#/components/headers/contentCrs"
              },
              "warning" : {
                "$ref" : "#/components/headers/warning"
              }
            },
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KadastraalOnroerendeZaakHalCollectie"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestFoutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1",
                  "title" : "Ten minste één parameter moet worden opgegeven.",
                  "status" : 400,
                  "detail" : "The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "paramsRequired",
                  "invalidParams" : [ {
                    "type" : "https://www.vng.nl/realisatie/api/validaties/integer",
                    "name" : "verblijfplaats__huisnummer",
                    "code" : "integer",
                    "reason" : "Waarde is geen geldige integer."
                  } ]
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2",
                  "title" : "Niet correct geauthenticeerd.",
                  "status" : 401,
                  "detail" : "The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "authentication"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4",
                  "title" : "U bent niet geautoriseerd voor deze operatie.",
                  "status" : 403,
                  "detail" : "The server understood the request, but is refusing to fulfill it.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "autorisation"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7",
                  "title" : "Gevraagde contenttype wordt niet ondersteund.",
                  "status" : 406,
                  "detail" : "The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to thr accept headers sent in the request",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAcceptable"
                }
              }
            }
          },
          "410" : {
            "description" : "Gone",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.11",
                  "title" : "Gone",
                  "status" : 410,
                  "detail" : "The request could not be completed due to a conflict with the current state of the resource",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "gone"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1",
                  "title" : "Interne server fout.",
                  "status" : 500,
                  "detail" : "The server encountered an unexpected condition which prevented it from fulfilling the request.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "serverError"
                }
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4",
                  "title" : "Bronservice {bron} is tijdelijk niet beschikbaar.",
                  "status" : 503,
                  "detail" : "The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAvailable"
                }
              }
            }
          }
        }
      }
    },
    "/kadastraalonroerendezaken/{kadastraalOnroerendeZaakIdentificatie}" : {
      "get" : {
        "tags" : [ "Kadastraal Onroerende Zaken" ],
        "description" : "Raadpleeg een kadastraal onroerende zaak.\nAls je de expand parameter gebruikt kun je zakelijkgerechtigden en privaatrechtelijkebeperkingen direct meeladen.\n",
        "operationId" : "GetKadastraalOnroerendeZaak",
        "parameters" : [ {
          "name" : "kadastraalOnroerendeZaakIdentificatie",
          "in" : "path",
          "description" : "De unieke identificatie van een kadastraal onroerende zaak.\n",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept-Crs",
          "in" : "header",
          "description" : "Gewenste CRS van de coördinaten in de response.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "CRS van de coördinaten in de response. epsg:28992 mapt op het RD New Nederlands coordinatenstelsel.",
            "enum" : [ "epsg:28992" ]
          }
        }, {
          "name" : "expand",
          "in" : "query",
          "description" : "Hiermee kun je opgeven welke gerelateerde resources meegeleverd moeten worden, en hun inhoud naar behoefte aanpassen. Hele resources of enkele properties geef je in de expand parameter kommagescheiden op. Properties die je wil ontvangen geef je op met de resource-naam gevolgd door de property naam, met daartussen een punt. In de definitie van het antwoord kun je bij _embedded zien welke gerelateerde resources meegeleverd kunnen worden. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/expand.feature).",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "fields",
          "in" : "query",
          "description" : "Hiermee kun je de inhoud van de resource naar behoefte aanpassen door een door komma's gescheiden lijst van property namen op te geven. Bij opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven. Wanneer de fields parameter niet is opgegeven, worden alle properties met een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Zoekactie geslaagd\n",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              },
              "Content-Crs" : {
                "$ref" : "#/components/headers/contentCrs"
              },
              "warning" : {
                "$ref" : "#/components/headers/warning"
              }
            },
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KadastraalOnroerendeZaakHal"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestFoutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1",
                  "title" : "Ten minste één parameter moet worden opgegeven.",
                  "status" : 400,
                  "detail" : "The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "paramsRequired",
                  "invalidParams" : [ {
                    "type" : "https://www.vng.nl/realisatie/api/validaties/integer",
                    "name" : "verblijfplaats__huisnummer",
                    "code" : "integer",
                    "reason" : "Waarde is geen geldige integer."
                  } ]
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2",
                  "title" : "Niet correct geauthenticeerd.",
                  "status" : 401,
                  "detail" : "The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "authentication"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4",
                  "title" : "U bent niet geautoriseerd voor deze operatie.",
                  "status" : 403,
                  "detail" : "The server understood the request, but is refusing to fulfill it.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "autorisation"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5",
                  "title" : "Opgevraagde resource bestaat niet.",
                  "status" : 404,
                  "detail" : "The server has not found anything matching the Request-URI.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notFound"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7",
                  "title" : "Gevraagde contenttype wordt niet ondersteund.",
                  "status" : 406,
                  "detail" : "The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to thr accept headers sent in the request",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAcceptable"
                }
              }
            }
          },
          "410" : {
            "description" : "Gone",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.11",
                  "title" : "Gone",
                  "status" : 410,
                  "detail" : "The request could not be completed due to a conflict with the current state of the resource",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "gone"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1",
                  "title" : "Interne server fout.",
                  "status" : 500,
                  "detail" : "The server encountered an unexpected condition which prevented it from fulfilling the request.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "serverError"
                }
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4",
                  "title" : "Bronservice {bron} is tijdelijk niet beschikbaar.",
                  "status" : 503,
                  "detail" : "The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAvailable"
                }
              }
            }
          }
        }
      }
    },
    "/kadastraalonroerendezaken/{kadastraalOnroerendeZaakIdentificatie}/zakelijkgerechtigden/{zakelijkGerechtigdeIdentificatie}" : {
      "get" : {
        "tags" : [ "Zakelijke Gerechtigden" ],
        "description" : "Het raadplegen van een specifieke zakelijk gerechtigde van een kadastraal onroerende zaak. Het aandeel van de zakelijk gerechtigde wordt altijd geleverd in combinatie met het gezamenlijk aandeel (wanneer twee of meer personen een gezamenlijk aandeel hebben in een zakelijk recht, en ieders afzonderlijke aandeel in het gezamenlijk aandeel niet bekend is)\n",
        "operationId" : "GetZakelijkGerechtigde",
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Hiermee kun je de inhoud van de resource naar behoefte aanpassen door een door komma's gescheiden lijst van property namen op te geven. Bij opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven. Wanneer de fields parameter niet is opgegeven, worden alle properties met een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "kadastraalOnroerendeZaakIdentificatie",
          "in" : "path",
          "description" : "De unieke identificatie van een kadastraal onroerende zaak.\n",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "zakelijkGerechtigdeIdentificatie",
          "in" : "path",
          "description" : "De identificatie van de zakelijk gerechtigde\n",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept-Crs",
          "in" : "header",
          "description" : "Gewenste CRS van de coördinaten in de response.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "CRS van de coördinaten in de response. epsg:28992 mapt op het RD New Nederlands coordinatenstelsel.",
            "enum" : [ "epsg:28992" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Zoekactie geslaagd\n",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              },
              "Content-Crs" : {
                "$ref" : "#/components/headers/contentCrs"
              },
              "warning" : {
                "$ref" : "#/components/headers/warning"
              }
            },
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ZakelijkGerechtigdeHal"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestFoutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1",
                  "title" : "Ten minste één parameter moet worden opgegeven.",
                  "status" : 400,
                  "detail" : "The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "paramsRequired",
                  "invalidParams" : [ {
                    "type" : "https://www.vng.nl/realisatie/api/validaties/integer",
                    "name" : "verblijfplaats__huisnummer",
                    "code" : "integer",
                    "reason" : "Waarde is geen geldige integer."
                  } ]
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2",
                  "title" : "Niet correct geauthenticeerd.",
                  "status" : 401,
                  "detail" : "The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "authentication"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4",
                  "title" : "U bent niet geautoriseerd voor deze operatie.",
                  "status" : 403,
                  "detail" : "The server understood the request, but is refusing to fulfill it.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "autorisation"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5",
                  "title" : "Opgevraagde resource bestaat niet.",
                  "status" : 404,
                  "detail" : "The server has not found anything matching the Request-URI.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notFound"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7",
                  "title" : "Gevraagde contenttype wordt niet ondersteund.",
                  "status" : 406,
                  "detail" : "The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to thr accept headers sent in the request",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAcceptable"
                }
              }
            }
          },
          "410" : {
            "description" : "Gone",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.11",
                  "title" : "Gone",
                  "status" : 410,
                  "detail" : "The request could not be completed due to a conflict with the current state of the resource",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "gone"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1",
                  "title" : "Interne server fout.",
                  "status" : 500,
                  "detail" : "The server encountered an unexpected condition which prevented it from fulfilling the request.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "serverError"
                }
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4",
                  "title" : "Bronservice {bron} is tijdelijk niet beschikbaar.",
                  "status" : 503,
                  "detail" : "The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAvailable"
                }
              }
            }
          }
        }
      }
    },
    "/kadastraalonroerendezaken/{kadastraalOnroerendeZaakIdentificatie}/zakelijkgerechtigden" : {
      "get" : {
        "tags" : [ "Zakelijke Gerechtigden" ],
        "description" : "Zoek zakelijk gerechtigden van een kadastraal onroerende zaak. Het aandeel van de zakelijk gerechtigde wordt altijd geleverd in combinatie met het gezamenlijk aandeel. Er is een gezamenlijk aandeel als twee of meer personen een gezamenlijk aandeel hebben in een zakelijk recht, en ieders afzonderlijke aandeel in het gezamenlijk aandeel niet bekend is.\n",
        "operationId" : "GetZakelijkGerechtigden",
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Hiermee kun je de inhoud van de resource naar behoefte aanpassen door een door komma's gescheiden lijst van property namen op te geven. Bij opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven. Wanneer de fields parameter niet is opgegeven, worden alle properties met een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "kadastraalOnroerendeZaakIdentificatie",
          "in" : "path",
          "description" : "De unieke identificatie van een kadastraal onroerende zaak.\n",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Het type recht dat de zakelijk gerechtigde heeft op de kadastraal onroerende zaak. De waarden van de typering staan in een waardelijst.\n",
          "required" : false,
          "schema" : {
            "$ref" : "#/components/schemas/TypeGerechtigdeEnum"
          }
        }, {
          "name" : "Accept-Crs",
          "in" : "header",
          "description" : "Gewenste CRS van de coördinaten in de response.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "description" : "CRS van de coördinaten in de response. epsg:28992 mapt op het RD New Nederlands coordinatenstelsel.",
            "enum" : [ "epsg:28992" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Zoekactie geslaagd\n",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              },
              "Content-Crs" : {
                "$ref" : "#/components/headers/contentCrs"
              },
              "warning" : {
                "$ref" : "#/components/headers/warning"
              }
            },
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ZakelijkGerechtigdeHalCollectie"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestFoutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1",
                  "title" : "Ten minste één parameter moet worden opgegeven.",
                  "status" : 400,
                  "detail" : "The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "paramsRequired",
                  "invalidParams" : [ {
                    "type" : "https://www.vng.nl/realisatie/api/validaties/integer",
                    "name" : "verblijfplaats__huisnummer",
                    "code" : "integer",
                    "reason" : "Waarde is geen geldige integer."
                  } ]
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2",
                  "title" : "Niet correct geauthenticeerd.",
                  "status" : 401,
                  "detail" : "The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "authentication"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4",
                  "title" : "U bent niet geautoriseerd voor deze operatie.",
                  "status" : 403,
                  "detail" : "The server understood the request, but is refusing to fulfill it.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "autorisation"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5",
                  "title" : "Opgevraagde resource bestaat niet.",
                  "status" : 404,
                  "detail" : "The server has not found anything matching the Request-URI.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notFound"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7",
                  "title" : "Gevraagde contenttype wordt niet ondersteund.",
                  "status" : 406,
                  "detail" : "The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to thr accept headers sent in the request",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAcceptable"
                }
              }
            }
          },
          "410" : {
            "description" : "Gone",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.11",
                  "title" : "Gone",
                  "status" : 410,
                  "detail" : "The request could not be completed due to a conflict with the current state of the resource",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "gone"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1",
                  "title" : "Interne server fout.",
                  "status" : 500,
                  "detail" : "The server encountered an unexpected condition which prevented it from fulfilling the request.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "serverError"
                }
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4",
                  "title" : "Bronservice {bron} is tijdelijk niet beschikbaar.",
                  "status" : 503,
                  "detail" : "The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAvailable"
                }
              }
            }
          }
        }
      }
    },
    "/kadasternatuurlijkpersonen/{kadasterNatuurlijkPersoonIdentificatie}" : {
      "get" : {
        "tags" : [ "Kadaster (niet)Natuurlijk Personen" ],
        "description" : "Raadpleeg een bij het kadaster geregistreerde natuurlijke persoon die niet in de basisregistratie personen (BRP) is ingeschreven,\nof wel is ingeschreven maar niet is gekoppeld bij het inschrijven van de akte. Kadasternatuurlijkpersonen worden niet geactualiseerd.\n",
        "operationId" : "GetKadasterPersoon",
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Hiermee kun je de inhoud van de resource naar behoefte aanpassen door een door komma's gescheiden lijst van property namen op te geven. Bij opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven. Wanneer de fields parameter niet is opgegeven, worden alle properties met een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "kadasterNatuurlijkPersoonIdentificatie",
          "in" : "path",
          "required" : true,
          "schema" : {
            "maxLength" : 60,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Zoekactie geslaagd\n",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              },
              "warning" : {
                "$ref" : "#/components/headers/warning"
              }
            },
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KadasterNatuurlijkPersoonHal"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestFoutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1",
                  "title" : "Ten minste één parameter moet worden opgegeven.",
                  "status" : 400,
                  "detail" : "The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "paramsRequired",
                  "invalidParams" : [ {
                    "type" : "https://www.vng.nl/realisatie/api/validaties/integer",
                    "name" : "verblijfplaats__huisnummer",
                    "code" : "integer",
                    "reason" : "Waarde is geen geldige integer."
                  } ]
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2",
                  "title" : "Niet correct geauthenticeerd.",
                  "status" : 401,
                  "detail" : "The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "authentication"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4",
                  "title" : "U bent niet geautoriseerd voor deze operatie.",
                  "status" : 403,
                  "detail" : "The server understood the request, but is refusing to fulfill it.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "autorisation"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5",
                  "title" : "Opgevraagde resource bestaat niet.",
                  "status" : 404,
                  "detail" : "The server has not found anything matching the Request-URI.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notFound"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7",
                  "title" : "Gevraagde contenttype wordt niet ondersteund.",
                  "status" : 406,
                  "detail" : "The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to thr accept headers sent in the request",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAcceptable"
                }
              }
            }
          },
          "410" : {
            "description" : "Gone",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.11",
                  "title" : "Gone",
                  "status" : 410,
                  "detail" : "The request could not be completed due to a conflict with the current state of the resource",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "gone"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1",
                  "title" : "Interne server fout.",
                  "status" : 500,
                  "detail" : "The server encountered an unexpected condition which prevented it from fulfilling the request.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "serverError"
                }
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4",
                  "title" : "Bronservice {bron} is tijdelijk niet beschikbaar.",
                  "status" : 503,
                  "detail" : "The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAvailable"
                }
              }
            }
          }
        }
      }
    },
    "/kadasternietnatuurlijkpersonen/{kadasterNietNatuurlijkPersoonIdentificatie}" : {
      "get" : {
        "tags" : [ "Kadaster (niet)Natuurlijk Personen" ],
        "description" : "Raadpleeg een bij het kadaster geregistreerde niet natuurlijke persoon die niet in het Handelsregister (HR) is\ningeschreven, of wel is ingeschreven maar niet is gekoppeld bij het inschrijven van de akte.\nKadasternatuurlijkpersonen worden niet geactualiseerd.\n",
        "operationId" : "GetKadasterNietNatuurlijkPersoon",
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Hiermee kun je de inhoud van de resource naar behoefte aanpassen door een door komma's gescheiden lijst van property namen op te geven. Bij opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven. Wanneer de fields parameter niet is opgegeven, worden alle properties met een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "kadasterNietNatuurlijkPersoonIdentificatie",
          "in" : "path",
          "required" : true,
          "schema" : {
            "maxLength" : 60,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Zoekactie geslaagd\n",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              },
              "warning" : {
                "$ref" : "#/components/headers/warning"
              }
            },
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KadasterNietNatuurlijkPersoonHal"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestFoutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1",
                  "title" : "Ten minste één parameter moet worden opgegeven.",
                  "status" : 400,
                  "detail" : "The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "paramsRequired",
                  "invalidParams" : [ {
                    "type" : "https://www.vng.nl/realisatie/api/validaties/integer",
                    "name" : "verblijfplaats__huisnummer",
                    "code" : "integer",
                    "reason" : "Waarde is geen geldige integer."
                  } ]
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2",
                  "title" : "Niet correct geauthenticeerd.",
                  "status" : 401,
                  "detail" : "The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "authentication"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4",
                  "title" : "U bent niet geautoriseerd voor deze operatie.",
                  "status" : 403,
                  "detail" : "The server understood the request, but is refusing to fulfill it.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "autorisation"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5",
                  "title" : "Opgevraagde resource bestaat niet.",
                  "status" : 404,
                  "detail" : "The server has not found anything matching the Request-URI.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notFound"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7",
                  "title" : "Gevraagde contenttype wordt niet ondersteund.",
                  "status" : 406,
                  "detail" : "The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to thr accept headers sent in the request",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAcceptable"
                }
              }
            }
          },
          "410" : {
            "description" : "Gone",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.11",
                  "title" : "Gone",
                  "status" : 410,
                  "detail" : "The request could not be completed due to a conflict with the current state of the resource",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "gone"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1",
                  "title" : "Interne server fout.",
                  "status" : 500,
                  "detail" : "The server encountered an unexpected condition which prevented it from fulfilling the request.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "serverError"
                }
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4",
                  "title" : "Bronservice {bron} is tijdelijk niet beschikbaar.",
                  "status" : 503,
                  "detail" : "The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAvailable"
                }
              }
            }
          }
        }
      }
    },
    "/kadasternatuurlijkpersonen" : {
      "get" : {
        "tags" : [ "Kadaster (niet)Natuurlijk Personen" ],
        "description" : "Zoek bij het kadaster geregistreerde natuurlijke personen die niet in de basisregistratie personen (BRP) zijn ingeschreven,\nof wel zijn ingeschreven maar niet gekoppeld bij het inschrijven van de akte. Kadasternatuurlijkpersonen worden niet geactualiseerd.\n",
        "operationId" : "GetKadasterPersonen",
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Hiermee kun je de inhoud van de resource naar behoefte aanpassen door een door komma's gescheiden lijst van property namen op te geven. Bij opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven. Wanneer de fields parameter niet is opgegeven, worden alle properties met een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "q",
          "in" : "query",
          "description" : "Free query parameter. Dit endpoint evolueert naar free query zoeken. In deze versie kan alleen een combinatie van (het begin van) de geslachtsnaam en geboortedatum [YYYY-mm-dd] worden opgegeven.\n",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Zoekactie geslaagd\n",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              },
              "warning" : {
                "$ref" : "#/components/headers/warning"
              }
            },
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KadasterNatuurlijkPersoonHalCollectie"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestFoutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1",
                  "title" : "Ten minste één parameter moet worden opgegeven.",
                  "status" : 400,
                  "detail" : "The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "paramsRequired",
                  "invalidParams" : [ {
                    "type" : "https://www.vng.nl/realisatie/api/validaties/integer",
                    "name" : "verblijfplaats__huisnummer",
                    "code" : "integer",
                    "reason" : "Waarde is geen geldige integer."
                  } ]
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2",
                  "title" : "Niet correct geauthenticeerd.",
                  "status" : 401,
                  "detail" : "The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "authentication"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4",
                  "title" : "U bent niet geautoriseerd voor deze operatie.",
                  "status" : 403,
                  "detail" : "The server understood the request, but is refusing to fulfill it.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "autorisation"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7",
                  "title" : "Gevraagde contenttype wordt niet ondersteund.",
                  "status" : 406,
                  "detail" : "The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to thr accept headers sent in the request",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAcceptable"
                }
              }
            }
          },
          "410" : {
            "description" : "Gone",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.11",
                  "title" : "Gone",
                  "status" : 410,
                  "detail" : "The request could not be completed due to a conflict with the current state of the resource",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "gone"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1",
                  "title" : "Interne server fout.",
                  "status" : 500,
                  "detail" : "The server encountered an unexpected condition which prevented it from fulfilling the request.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "serverError"
                }
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4",
                  "title" : "Bronservice {bron} is tijdelijk niet beschikbaar.",
                  "status" : 503,
                  "detail" : "The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAvailable"
                }
              }
            }
          }
        }
      }
    },
    "/kadasternietnatuurlijkpersonen" : {
      "get" : {
        "tags" : [ "Kadaster (niet)Natuurlijk Personen" ],
        "description" : "Zoek bij het kadaster geregistreerde niet natuurlijke personen die niet in het Handelsregister (HR) zijn ingeschreven,\nof wel zijn ingeschreven maar niet gekoppeld bij het inschrijven van de akte.\nKadasternatuurlijkpersonen worden niet geactualiseerd.\n",
        "operationId" : "GetKadasterNietNatuurlijkPersonen",
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Hiermee kun je de inhoud van de resource naar behoefte aanpassen door een door komma's gescheiden lijst van property namen op te geven. Bij opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven. Wanneer de fields parameter niet is opgegeven, worden alle properties met een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "q",
          "in" : "query",
          "description" : "Free query parameter. Dit endpoint evolueert naar free query zoeken. In deze versie kan alleen een combinatie van (het begin van de) de statutaire naam en zetel (vestigingsplaats) worden opgegeven. Let op! Een niet natuurlijk persoon kan meerdere keren, en op meer dan één manier voorkomen in de BRK.\n",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Zoekactie geslaagd\n",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              },
              "warning" : {
                "$ref" : "#/components/headers/warning"
              }
            },
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KadasterNietNatuurlijkPersoonHalCollectie"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestFoutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1",
                  "title" : "Ten minste één parameter moet worden opgegeven.",
                  "status" : 400,
                  "detail" : "The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "paramsRequired",
                  "invalidParams" : [ {
                    "type" : "https://www.vng.nl/realisatie/api/validaties/integer",
                    "name" : "verblijfplaats__huisnummer",
                    "code" : "integer",
                    "reason" : "Waarde is geen geldige integer."
                  } ]
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2",
                  "title" : "Niet correct geauthenticeerd.",
                  "status" : 401,
                  "detail" : "The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "authentication"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4",
                  "title" : "U bent niet geautoriseerd voor deze operatie.",
                  "status" : 403,
                  "detail" : "The server understood the request, but is refusing to fulfill it.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "autorisation"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7",
                  "title" : "Gevraagde contenttype wordt niet ondersteund.",
                  "status" : 406,
                  "detail" : "The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to thr accept headers sent in the request",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAcceptable"
                }
              }
            }
          },
          "410" : {
            "description" : "Gone",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.11",
                  "title" : "Gone",
                  "status" : 410,
                  "detail" : "The request could not be completed due to a conflict with the current state of the resource",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "gone"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1",
                  "title" : "Interne server fout.",
                  "status" : 500,
                  "detail" : "The server encountered an unexpected condition which prevented it from fulfilling the request.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "serverError"
                }
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4",
                  "title" : "Bronservice {bron} is tijdelijk niet beschikbaar.",
                  "status" : 503,
                  "detail" : "The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAvailable"
                }
              }
            }
          }
        }
      }
    },
    "/kadastraalonroerendezaken/{kadastraalOnroerendeZaakIdentificatie}/hypotheken" : {
      "get" : {
        "tags" : [ "Hypotheken" ],
        "description" : "Raadpleeg hypotheken die rusten op een kadastraal onroerende zaak en bijbehorende hypotheekhouder(s).\nEen hypotheekhouder vestigt als geldverstrekker een recht van hypotheek als zekerheid voor de lening.\n",
        "operationId" : "GetHypothekenKadastraalOnroerendeZaak",
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "description" : "Hiermee kun je de inhoud van de resource naar behoefte aanpassen door een door komma's gescheiden lijst van property namen op te geven. Bij opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven. Wanneer de fields parameter niet is opgegeven, worden alle properties met een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "kadastraalOnroerendeZaakIdentificatie",
          "in" : "path",
          "description" : "De unieke identificatie van een kadastraal onroerende zaak.\n",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Zoekactie geslaagd\n",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              },
              "warning" : {
                "$ref" : "#/components/headers/warning"
              }
            },
            "content" : {
              "application/hal+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/HypotheekHalCollectie"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BadRequestFoutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1",
                  "title" : "Ten minste één parameter moet worden opgegeven.",
                  "status" : 400,
                  "detail" : "The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modification.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "paramsRequired",
                  "invalidParams" : [ {
                    "type" : "https://www.vng.nl/realisatie/api/validaties/integer",
                    "name" : "verblijfplaats__huisnummer",
                    "code" : "integer",
                    "reason" : "Waarde is geen geldige integer."
                  } ]
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2",
                  "title" : "Niet correct geauthenticeerd.",
                  "status" : 401,
                  "detail" : "The request requires user authentication. The response MUST include a WWW-Authenticate header field (section 14.47) containing a challenge applicable to the requested resource.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "authentication"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4",
                  "title" : "U bent niet geautoriseerd voor deze operatie.",
                  "status" : 403,
                  "detail" : "The server understood the request, but is refusing to fulfill it.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "autorisation"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.5",
                  "title" : "Opgevraagde resource bestaat niet.",
                  "status" : 404,
                  "detail" : "The server has not found anything matching the Request-URI.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notFound"
                }
              }
            }
          },
          "406" : {
            "description" : "Not Acceptable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7",
                  "title" : "Gevraagde contenttype wordt niet ondersteund.",
                  "status" : 406,
                  "detail" : "The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to thr accept headers sent in the request",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAcceptable"
                }
              }
            }
          },
          "410" : {
            "description" : "Gone",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.11",
                  "title" : "Gone",
                  "status" : 410,
                  "detail" : "The request could not be completed due to a conflict with the current state of the resource",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "gone"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1",
                  "title" : "Interne server fout.",
                  "status" : 500,
                  "detail" : "The server encountered an unexpected condition which prevented it from fulfilling the request.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "serverError"
                }
              }
            }
          },
          "503" : {
            "description" : "Service Unavailable",
            "headers" : {
              "api-version" : {
                "$ref" : "#/components/headers/api_version"
              }
            },
            "content" : {
              "application/problem+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Foutbericht"
                },
                "example" : {
                  "type" : "https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4",
                  "title" : "Bronservice {bron} is tijdelijk niet beschikbaar.",
                  "status" : 503,
                  "detail" : "The service is currently unable to handle the request due to a temporary overloading or maintenance of the server.",
                  "instance" : "https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde",
                  "code" : "notAvailable"
                }
              }
            }
          }
        }
      }
    },
    "/kadastraalonroerendezaken/{kadastraalOnroerendeZaakIdentificatie}/hypotheken/{hypotheekIdentificatie}" : {
      "get" : {
        "tags" : [ "Hypotheken" ],
[...]
