openapi: 3.0.0
servers:
  - description: "Brk-bevragen Kadastraal Onroerende Zaak"
    url: https://www.kadaster.nl/api/kadastraal_onroerende_zaken
info:
  title: Kadastraal onroerende zaken
  description: "D.m.v. deze toepassing worden meerdere, korte bevragingen op de Basis Registratie Kadaster beschikbaar gesteld. Deze toepassing betreft het verstrekken van Kadastrale Onroerende Zaak informatie."
  version: "1.0.0"
  contact:
    name: Kadaster Haal Centraal BRK-Bevragen
    url: https://github.com/VNG-Realisatie/Haal-Centraal-BRK-Bevragen
  license:
    name: European Union Public License, version 1.2 (EUPL-1.2)
    url: https://eupl.eu/1.2/nl/
paths:
  /kadastraalonroerendezaken:
    get:
      operationId: GetKadastraalOnroerendeZaken
      description: |
          Het ophalen van een collectie Kadastraal Onroerende zaken.
          Ten minste één van de volgende combinaties van parameters moet worden gebruikt. Het combineren van parameters uit verschillende combinaties is niet toegestaan.
          1.  Kadastrale aanduiding
              -  kadastralegemeente__code (verplicht)
              -  perceelnummer (verplicht)
              -  sectie (verplicht)
              -  appartementsrechtnummer (optioneel)
          2.  Ingeschreven persoon als zakelijk gerechtigde
              -  burgerservicenummer (verplicht)
              -  typegerechtigde (optioneel)
          3.  Niet ingeschreven persoon of niet natuurlijk persoon als zakelijk gerechtigde
              -  kadasterpersoonidentificatie (verplicht)
              -  typegerechtigde (optioneel)
          4.  Adres
              -  postcode (verplicht)
              -  huisnummer (optioneel)
              -  huisletter (optioneel)  **Nog niet geimplementeerd voor de APIlab van 26-03-2020**
              -  huisnummertoevoeging (optioneel)  **Nog niet geimplementeerd voor de APIlab van 26-03-2020**

          Met gebruik van de parameter expand kunnen zakelijkgerechtigden direct worden meegeladen.

          Het maximale aantal zoekresultaten dat geretourneerd wordt is aan de provider om te bepalen. Als het resultaat van de de request dit aantal overtreft worden er geen resultaten geretourneerd en volgt er een foutmelding.
      parameters:
        - $ref: "https://cdn.jsdelivr.net/gh/geonovum/kp-api-guidelines@1.0.0/components/parameters.yaml#/acceptCrs"
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/parameters/expand"
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/parameters/fields"
        - in: query
          name: kadastralegemeente__code
          description: "De code van de kadastrale gemeente, deel van de kadastrale aanduiding van de onroerende zaak. De code en waarde zijn vastgelegd in een [Waardelijst](http://www.kadaster.nl/schemas/waardelijsten/KadastraleGemeente/)"
          schema:
            type: "string"
            example: "50"
        - in: query
          name: kadastraleaanduiding__perceelnummer
          description: "Het perceelnummer dat een geheel perceel of een complex uniek\
              \ identificeert binnen de sectie. Per kadastrale gemeente en per sectie\
              \ heeft een perceel een perceelnummer oplopend door de jaren heen van\
              \ 1 tot max 99999"
          schema:
            type: "integer"
            minimum: 1
            maximum: 99999
        - in: query
          name: kadastraleaanduiding__sectie
          description: "Sectie is een onderverdeling van de kadastrale gemeente, bedoeld\
            \ om het werk van de meetdienst en de kadastrale kaarten overzichtelijk\
            \ te houden. Per kadastrale gemeente zijn er max. 26x26 secties . Elke\
            \ sectie heeft een of twee letters (bijv. `A`, `B`, ....`AA`, `AB`, ....`ZZ`\
            \ . Alleen de sectieletter `J` werd niet gebruikt om verwarring (handgeschreven)\
            \ te voorkomen met `I`"
          schema:
            type: "string"
        - in: query
          name: kadastraleaanduiding__appartementsrechtvolgnummer
          description: "Nummer dat het kadastraal object uniek identificeert als een\
            \ appartementsrecht binnen het complex."
          schema:
            type: "integer"
        - in: query
          name: ingeschrevenpersoon__burgerservicenummer
          description: "Het burgerservicenummer van de persoon die een zakelijk recht op een kadastraal onroerende zaak heeft. Deze persoon is zakelijk gerechtigde van de kadastraal onroerende zaak. Door deze query-parameter te gebruiken worden Kadastraal Onroerende Zaken geretourneerd waar deze persoon een zakelijk recht op heeft."
          required: false
          schema:
            type: string
            maxLength: 9
        - in: query
          name: persoon_kadasterpersoonidentificatie
          description: "De identificatie van de Kadasterpersoon, een niet-ingeschreven persoon of een rechtspersoon waarvan de gegevens door het kadaster zijn geregistreerd. Deze persoon is zakelijk gerechtigde van de Kadastraal Onroerende Zaak. Door deze query-parameter te gebruiken worden Kadastraal Onroerende Zaken geretourneerd waar deze persoon een zakelijk recht op heeft."
          required: false
          schema:
            type: string
        - in: query
          name: zakelijkgerechtigde__typegerechtigde
          description: "Een typering van het recht dat de zakelijkgerechtigde heeft op de Kadastraal Onroerende Zaak. Door het gebruik van deze query-parameter worden Kadastraal Onroerende Zaken geretourneerd waar een recht op rust van het opgegeven type."
          required: false
          schema:
            $ref: "#/components/schemas/typeGerechtigde_enum"
        - in: query
          name: adres__postcode
          description: "De postcode van het adres van de objectlocatie van de kadastraal onroerende zaak"
          required: false
          schema:
            type: string
            pattern: "^[1-9][0-9][0-9][0-9][A-Z][A-Z]$"
        - in: query
          name: adres__huisnummer
          description: "Het huisnummer van het adres van de objectlocatie van de kadastraal onroerende zaak"
          required: false
          schema:
            type: integer
            pattern: "^[1-9][0-9]{0,4}$"
        - in: query
          name: adres__huisletter
          description: "De huisletter van het adres van de objectlocatie van de kadastraal onroerende zaak"
          required: false
          schema:
            type: string
            pattern: "^[a-zA-Z]$"
        - in: query
          name: adres__huisnummertoevoeging
          description: "De huisnummertoevoeging van het adres van de objectlocatie van de kadastraal onroerende zaak"
          required: false
          schema:
            type: string
            pattern: "^([a-z,A-Z,0-9])+$"
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/warning"
            X-Rate-Limit-Limit:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Limit"
            X-Rate-Limit-Remaining:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Remaining"
            X-Rate-Limit-Reset:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Reset"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/KadastraalOnroerendeZaakHalCollectie'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/403"
        '406':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/406"
        '409':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/409"
        '410':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/410"
        '415':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/415"
        '429':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/429"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/500"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/503"
      tags:
      - Kadastraal Onroerende Zaken
  /kadastraalonroerendezaken/{kadastraalobjectidentificatie}:
    get:
      operationId: GetKadastraalOnroerendeZaak
      description: |
        Het ophalen van een Kadastraal Onroerende zaak.

        Met gebruik van de parameter expand kunnen zakelijkgerechtigden direct worden meegeladen.
      parameters:
        - in: path
          name: kadastraalobjectidentificatie
          description: "Kadastrale aanduiding is de unieke aanduiding van een onroerende zaak, die door het kadaster wordt vastgesteld. Kadastrale aanduiding is de unieke aanduiding van een onroerende zaak, die door het kadaster wordt vastgesteld. Toelichting : In de tijd gezien kan dezelfde onroerende zaak wel meerdere kadastrale aanduidingen hebben, te weten in het geval dat er een herindeling plaatsvindt."
          required: true
          schema:
            type: string
        - $ref: "https://cdn.jsdelivr.net/gh/geonovum/kp-api-guidelines@1.0.0/components/parameters.yaml#/acceptCrs"
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/parameters/expand"
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/parameters/fields"
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/warning"
            X-Rate-Limit-Limit:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Limit"
            X-Rate-Limit-Remaining:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Remaining"
            X-Rate-Limit-Reset:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Reset"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/KadastraalOnroerendeZaakHal'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/403"
        '404':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/404"
        '406':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/406"
        '409':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/409"
        '410':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/410"
        '415':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/415"
        '429':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/429"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/500"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/503"
      tags:
      - Kadastraal Onroerende Zaken
  /kadastraalonroerendezaken/{kadastraalobjectidentificatie}/zakelijkgerechtigden/{identificatie]:
    get:
      operationId: GetZakelijkGerechtigde
      description: "Het ophalen van een specifieke zakelijke gerechtigde behorende bij een Kadastraal Onroerende Zaak. Aandeel wordt altijd geleverd in combinatie met het gezamenlijk aandeel."
      parameters:
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/parameters/fields"
        - in: path
          name: kadastraalobjectidentificatie
          description: "Kadastrale aanduiding is de unieke aanduiding van een onroerende zaak, die door het kadaster wordt vastgesteld. Kadastrale aanduiding is de unieke aanduiding van een onroerende zaak, die door het kadaster wordt vastgesteld. Toelichting : In de tijd gezien kan dezelfde onroerende zaak wel meerdere kadastrale aanduidingen hebben, te weten in het geval dat er een herindeling plaatsvindt."
          required: true
          schema:
            type: string
        - in: path
          name: identificatie
          description: "De identificatie van de zakelijk gerechtigde"
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/warning"
            X-Rate-Limit-Limit:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Limit"
            X-Rate-Limit-Remaining:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Remaining"
            X-Rate-Limit-Reset:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Reset"
          content:
            application/hal+json:
              schema:
                $ref: "#/components/schemas/ZakelijkGerechtigdeHal"
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/403"
        '404':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/404"
        '406':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/406"
        '409':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/409"
        '410':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/410"
        '415':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/415"
        '429':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/429"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/500"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/503"
      tags:
      - Zakelijke Gerechtigden
  /kadastraalonroerendezaken/{kadastraalobjectidentificatie}/zakelijkgerechtigden:
    get:
      operationId: GetZakelijkGerechtigden
      description: "Het ophalen van een de zakelijke gerechtigden behorende bij een Kadastraal Onroerende Zaak. Aandeel wordt altijd geleverd in combinatie met het gezamenlijk aandeel."
      parameters:
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/parameters/fields"
        - in: path
          name: kadastraalobjectidentificatie
          description: "Kadastrale aanduiding is de unieke aanduiding van een onroerende zaak, die door het kadaster wordt vastgesteld. Kadastrale aanduiding is de unieke aanduiding van een onroerende zaak, die door het kadaster wordt vastgesteld. Toelichting : In de tijd gezien kan dezelfde onroerende zaak wel meerdere kadastrale aanduidingen hebben, te weten in het geval dat er een herindeling plaatsvindt."
          required: true
          schema:
            type: string
        - in: query
          name: typegerechtigde
          description: "Een typering van het recht dat de zakelijkgerechtigde heeft op de Kadastraal Onroerende Zaak."
          required: false
          schema:
            $ref: "#/components/schemas/typeGerechtigde_enum"
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/warning"
            X-Rate-Limit-Limit:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Limit"
            X-Rate-Limit-Remaining:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Remaining"
            X-Rate-Limit-Reset:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Reset"
          content:
            application/hal+json:
              schema:
                $ref: "#/components/schemas/ZakelijkGerechtigdeHalCollectie"
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/403"
        '404':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/404"
        '406':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/406"
        '409':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/409"
        '410':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/410"
        '415':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/415"
        '429':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/429"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/500"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/503"
      tags:
      - Zakelijke Gerechtigden
  /kadasternatuurlijkpersonen/{identificatie}:
    get:
      operationId: GetKadasterPersoon
      description: "Het ophalen van een bij het Kadaster geregistreerd Natuurlijk Persoon, niet zijnde een ingeschreven natuurlijk persoon."
      parameters:
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/parameters/fields"
        - in: path
          name: identificatie
          description: ""
          required: true
          schema:
            type: string
            maxLength: 60
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/warning"
            X-Rate-Limit-Limit:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Limit"
            X-Rate-Limit-Remaining:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Remaining"
            X-Rate-Limit-Reset:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Reset"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/KadasterNatuurlijkPersoonHal'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/403"
        '404':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/404"
        '406':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/406"
        '409':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/409"
        '410':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/410"
        '415':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/415"
        '429':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/429"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/500"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/503"
      tags:
      - Kadaster (niet)Natuurlijk Personen
  /kadasternietnatuurlijkpersonen/{identificatie}:
    get:
      operationId: GetKadasterNietNatuurlijkPersoon
      description: "Het ophalen van een bij het Kadaster geregistreerd niet natuurlijk Persoon, niet zijnde een ingeschreven niet natuurlijk persoon."
      parameters:
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/parameters/fields"
        - in: path
          name: identificatie
          description: ""
          required: true
          schema:
            type: string
            maxLength: 60
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/warning"
            X-Rate-Limit-Limit:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Limit"
            X-Rate-Limit-Remaining:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Remaining"
            X-Rate-Limit-Reset:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Reset"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/KadasterNietNatuurlijkPersoonHal'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/403"
        '404':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/404"
        '406':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/406"
        '409':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/409"
        '410':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/410"
        '415':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/415"
        '429':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/429"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/500"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/503"
      tags:
      - Kadaster (niet)Natuurlijk Personen
  /kadasternatuurlijkpersonen:
    get:
      operationId: GetKadasterPersonen
      description: "Het ophalen van een collectie bij het Kadaster geregistreerd Natuurlijk Personen, niet zijnde ingeschreven natuurlijk personen."
      parameters:
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/parameters/fields"
        - in: query
          name: q
          description: "Free query parameter"
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/warning"
            X-Rate-Limit-Limit:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Limit"
            X-Rate-Limit-Remaining:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Remaining"
            X-Rate-Limit-Reset:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Reset"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/KadasterNatuurlijkPersoonHalCollectie'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/403"
        '404':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/404"
        '406':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/406"
        '409':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/409"
        '410':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/410"
        '415':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/415"
        '429':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/429"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/500"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/503"
      tags:
      - Kadaster (niet)Natuurlijk Personen
  /kadasternietnatuurlijkpersonen:
    get:
      operationId: GetKadasterNietNatuurlijkPersonen
      description: "Het ophalen van een collectie bij het Kadaster geregistreerde niet natuurlijk Personen, niet zijnde ingeschreven niet natuurlijk personen."
      parameters:
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/parameters/fields"
        - in: query
          name: q
          description: "Free query parameter"
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/warning"
            X-Rate-Limit-Limit:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Limit"
            X-Rate-Limit-Remaining:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Remaining"
            X-Rate-Limit-Reset:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Reset"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/KadasterNietNatuurlijkPersoonHalCollectie'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/403"
        '404':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/404"
        '406':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/406"
        '409':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/409"
        '410':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/410"
        '415':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/415"
        '429':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/429"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/500"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/responses/503"
      tags:
      - Kadaster (niet)Natuurlijk Personen
components:
  schemas:
    Aantekening:
      type: "object"
      properties:
        identificatie:
          type: "string"
        aardAantekening:
          allOf:
          - $ref: "#/components/schemas/Waardelijst"
          - description: "Mogelijke waarden zijn te vinden in deze [Waardelijst](http://www.kadaster.nl/schemas/waardelijsten/AardAantekening/)"
        omschrijving:
          type: "string"
        begrenzing:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/Geometry"
        begrenzingDienendErf:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/Geometry"
        begrenzingHeersendErf:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/Geometry"
        einddatum:
          type: "string"
          format: "date"
        eindatumRecht:
          type: "string"
          format: "date"
        indicatieOorspronkelijkObject:
          type: "boolean"
        naamKavelruil:
          type: "string"
        betreftGedeelteVanPerceel:
          type: "boolean"
        stukIdentificaties:
          type: "array"
          description: "Dit element is de identificatie van het Stuk. Dit kan een aangeboden Stuk of een Kadasterstuk zijn."
          items:
            type: string
    Bedrag:
      type: "object"
      description: "Bedrag is samengesteld datatype voor het vastleggen van een hoeveelheid geld in cijfers in een bepaalde valuta."
      properties:
        som:
          type: "number"
          format: "float"
          title: "Het bedrag. Dit is een waarde met max. 2 decimalen."
          description: ""
        valuta:
          allOf:
          - description: "Waardelijst wordt gepubliceerd op http://www.kadaster.nl/schemas/waardelijsten/Valuta"
          - $ref: "#/components/schemas/Waardelijst"
    ErfpachtCanon:
      type: "object"
      properties:
        soortErfpachtCanon:
          allOf:
          - $ref: "#/components/schemas/Waardelijst"
          - description: "Mogelijke waarden zijn te vinden in deze [Waardelijst](http://www.kadaster.nl/schemas/waardelijsten/SoortErfpachtcanon/)"
        jaarlijksBedrag:
          $ref: "#/components/schemas/Bedrag"
        betrefMeerOnroerendeZaken:
          type: "boolean"
        einddatumAfkoop:
          type: "string"
          format: "date"
        indicatieOudeOnroerendeZaakBetrokken:
          type: "boolean"
    Geboorte:
      type: "object"
      description: "Geboorte is een groep gegevens over de geboorte van een GeregisteerdPersoon."
      properties:
        plaats:
          type: "string"
          title: "geboorteplaats"
          description: "De geboorteplaats is de plaats of een plaatsbepaling, die\
            \ aangeeft waar de persoon is geboren"
        datum:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
        land:
          allOf:
          - $ref: "#/components/schemas/Waardelijst"
          - description: "Mogelijke waarden zijn te vinden in deze [Waardelijst](http://www.kadaster.nl/schemas/waardelijsten/BRPLand/)"
    GeoJSONGeometry:
      title: GeoJSONGeometry
      description: "Dit component is opgenomen om alle Geometry types ook bij het resolven op te lten nemen in de resolvde YAML. De resolver kan nog niet goed omgaan met de oneOf constructie en daardoor worden de componenten uit een oneOf in de common.yamlniet mee-geresolved. Deze constructie is inhoudelijk overbodig, maar wel nodig om dit probleem op te lossen"
      type: object
      oneOf:
      - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/Point'
      - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/MultiPoint'
      - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/LineString'
      - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/MultiLineString'
      - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/Polygon'
      - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/MultiPolygon'
      - $ref: 'https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/GeometryCollection'
    Geslacht_enum:
      type: "string"
      description: "Een aanduiding die aangeeft dat de ingeschrevene een man of een\
        \ vrouw is, of dat het geslacht (nog) onbekend is:\n* `man` - Man\n* `vrouw` - Vrouw\n\
        * `onbekend` - Onbekend"
      enum:
      - "man"
      - "vrouw"
      - "onbekend"
    HeeftPartnerschap:
      type: "object"
      description: "Partnerschap is een groep gegevens over de huwelijkse- of partnerschapstatus\
        \ van een persoon."
      properties:
        datumOntbinding:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
        datumSluiting:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
        naam:
          $ref: "#/components/schemas/Naam"
    KadasterNatuurlijkPersoon:
      allOf:
      - $ref: "#/components/schemas/KadasterPersoon"
      - description: "Een KadasternatuurlijkPersoon is natuurlijk persoon die is geregistreerd\
          \ in de Basisregistatie Kadaster. Het betreft of een ingezetene of een niet\
          \ ingezetene."
        properties:
          indicatieGeheim:
            type: "boolean"
            title: "indicatieGeheim"
            description: "indicatieGeheim is een aanduiding die aangeeft dat gegevens\
              \ van een persoon wel of niet verstrekt mogen worden."
          landWaarnaarVertrokken:
            allOf:
            - $ref: "#/components/schemas/Waardelijst"
            - description: "Mogelijke waarden zijn te vinden in deze [Waardelijst](http://www.kadaster.nl/schemas/waardelijsten/BRPLand/)"
          geslacht:
            $ref: "#/components/schemas/Geslacht_enum"
          heeftPartnerschap:
            type: "array"
            items:
              $ref: "#/components/schemas/HeeftPartnerschap"
          naam:
            $ref: "#/components/schemas/Naam"
          geboorte:
            $ref: "#/components/schemas/Geboorte"
          overlijden:
            $ref: "#/components/schemas/Overlijden"
    KadasterNatuurlijkPersoonHal:
      allOf:
      - $ref: "#/components/schemas/KadasterNatuurlijkPersoon"
      - properties:
          _links:
            $ref: "#/components/schemas/KadasterPersoon_links"
    KadasterNatuurlijkPersoonHalCollectie:
      type: "object"
      properties:
        _links:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/HalCollectionLinks"
        _embedded:
          type: "object"
          properties:
            kadasterNatuurlijkPersonen:
              type: "array"
              items:
                $ref: "#/components/schemas/KadasterNatuurlijkPersoonHal"
    KadasterNietNatuurlijkPersoon:
      allOf:
      - $ref: "#/components/schemas/KadasterPersoon"
      - description: "URI https://tax.kadaster.nl/doc/begrip/Niet-natuurlijk_persoon"
        properties:
          statutaireNaam:
            type: "string"
            title: "statutaireNaam"
            description: ""
          statutaireZetel:
            type: "string"
            title: "statutaireZetel"
            description: ""
          rechtsvorm:
            allOf:
            - $ref: "#/components/schemas/Waardelijst"
            - description: "Mogelijke waarden zijn te vinden in deze [Waardelijst](http://www.kadaster.nl/schemas/waardelijsten/Rechtsvorm/)"
    KadasterNietNatuurlijkPersoonHal:
      allOf:
      - $ref: "#/components/schemas/KadasterNietNatuurlijkPersoon"
      - properties:
          _links:
            $ref: "#/components/schemas/KadasterPersoon_links"
    KadasterNietNatuurlijkPersoonHalCollectie:
      type: "object"
      properties:
        _links:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/HalCollectionLinks"
        _embedded:
          type: "object"
          properties:
            kadasterNietNatuurlijkPersonen:
              type: "array"
              items:
                $ref: "#/components/schemas/KadasterNietNatuurlijkPersoonHal"
    KadasterPersoon:
      allOf:
        - $ref: "#/components/schemas/PersoonBasis"
        - description: "URI https://tax.kadaster.nl/doc/begrip/Persoon"
          properties:
            indicatieNietToonbareDiakriet:
              type: "boolean"
              title: "indicatieNietToonbareDiakriet"
              description: ""
            beschikkingsbevoegdheid:
              allOf:
              - $ref: "#/components/schemas/Waardelijst"
              - description: "Mogelijke waarden zijn te vinden in deze [Waardelijst](http://www.kadaster.nl/schemas/waardelijsten/Beschikkingsbevoegdheid/)"
            metNaamOpenbaarRegister:
              type: "array"
              items:
                type: "string"
                title: "naam"
                maxLength: 320
            woonadres:
              $ref: "#/components/schemas/Adres"
            postadres:
              $ref: "#/components/schemas/Postadres"
    KadasterPersoon_links:
      type: "object"
      properties:
        self:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/HalLink"
        woonadres:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/HalLink"
        postadres:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/HalLink"
        kadastraalOnroerendeZaken:
          type: array
          items:
            $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/HalLink"
    KadastraalOnroerendeZaak:
      type: "object"
      description: "URI tax.kadaster.nl/id/begrip/Perceel URI https://tax.kadaster.nl/doc/begrip/Onroerende_zaak\
        \ URL http://tax.kadaster.nl/id/begrip/Appartementsrecht"
      properties:
        kadastraalObjectIdentificatie:
          description: "Dit is de unieke identificatie van een kadastraal object. "
          type: "string"
        begrenzingPerceel:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/Geometry"
        plaatscoordinaten:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/Geometry"
        koopsom:
          $ref: "#/components/schemas/TypeKoopsom"
        toelichtingBewaarder:
          type: "string"
          title: "toelichtingBewaarder"
          description: ""
        typeKadastraalOnroerendeZaak:
          $ref: "#/components/schemas/TypeKadastraalOnroerendeZaak_enum"
        aardCultuurBebouwd:
          allOf:
          - $ref: "#/components/schemas/Waardelijst"
          - description: "Mogelijke waarden zijn te vinden in deze [Waardelijst](http://www.kadaster.nl/schemas/waardelijsten/CultuurcodeBebouwd/)"
        aardCultuurOnbebouwd:
          $ref: "#/components/schemas/Waardelijst"
        kadastraleAanduiding:
          $ref: "#/components/schemas/TypeKadastraleAanduiding"
        kadastraleGrootte:
          $ref: "#/components/schemas/TypeOppervlak"
        nummeraanduidingIdentificatie:
          type: "string"
          description: "Dit element is de identificatie van het bagAdres. Dit om zelf de URL op te stellen of om in te vullen in de templated HAL-linK naar de BAG."
        stukIdentificaties:
          type: "array"
          description: "Dit element is de identificatie van het Stuk. Dit kan een aangeboden Stuk of een Kadasterstuk zijn."
          items:
            type: string
        zakelijkGerechtigdeIdentificaties:
          type: "array"
          description: "Alle personen en rechtspersonen die een zakelijk recht hebben op deze kadastaraal onroerende zaak"
          items:
            type: string
    KadastraalOnroerendeZaakHal:
      allOf:
      - $ref: "#/components/schemas/KadastraalOnroerendeZaak"
      - properties:
          _links:
            $ref: "#/components/schemas/KadastraalOnroerendeZaak_links"
          _embedded:
            $ref: "#/components/schemas/KadastraalOnroerendeZaak_embedded"
    KadastraalOnroerendeZaakHalCollectie:
      type: "object"
      properties:
        _links:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/HalCollectionLinks"
        _embedded:
          type: "object"
          properties:
            kadastraalOnroerendeZaken:
              type: "array"
              items:
                $ref: "#/components/schemas/KadastraalOnroerendeZaakHal"
    KadastraalOnroerendeZaak_links:
      type: "object"
      properties:
        self:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/HalLink"
        bagAdressen:
          title: "betreft"
          type: "array"
          description: "Dit een koppeling naar het Adres zoals dat in de HC-Bag API wordt aangeboden."
          items:
            $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/HalLink"
        zakelijkGerechtigden:
          title: ""
          type: "array"
          description: ""
          items:
            $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/HalLink"
        stukken:
          title: ""
          type: "array"
          description: ""
          items:
            $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/HalLink"
    KadastraalOnroerendeZaak_embedded:
      type: "object"
      properties:
        zakelijkGerechtigden:
          title: "rustOp"
          type: "array"
          items:
            $ref: "#/components/schemas/ZakelijkGerechtigdeHal"
    Naam:
      type: "object"
      description: "Naam is een groep gegevens met de geslachtsnaam, voorletters en\
        \ voornamen die men wil gebruiken bij aanschrijving."
      properties:
        geslachtsnaam:
          type: "string"
          title: "geslachtsnaam"
          description: "De geslachtsnaam is de (geslachts)naam waarvan de eventueel\
            \ aanwezige voorvoegsels en adellijke titel zijn afgesplitst."
          minLength: 1
        voornamen:
          type: "string"
          title: "voornamen"
          description: "De voornamen zijn de verzameling namen die, gescheiden door\
            \ spaties, aan de geslachtsnaam voorafgaat. Indien aanwezig, wordt het\
            \ predikaat afgesplitst."
        voorvoegselsgeslachtsnaam:
          type: "string"
          title: "voorvoegselsgeslachtsnaam"
          description: "Voorvoegselsgeslachtsnaam zijn dat deel van de geslachtsnaam\
            \ dat voorkomt in Tabel 36, Voorvoegseltabel en, gescheiden door een spatie,\
            \ vooraf gaat aan de rest van de geslachtsnaam."
    NatuurlijkPersoonBeperkt:
      allOf:
        - $ref: "#/components/schemas/PersoonBasis"
        - properties:
            type:
              $ref: "#/components/schemas/NatuurlijkPersoonType_enum"
    NatuurlijkPersoonType_enum:
      type: "string"
      description: "Een aanduiding die aangeeft of de persoon ingeschreven is in het BRP met een burgerservicenummer, dan wel vastgelegd is bij het Kadaster."
      enum:
      - "ingeschreven_natuurlijk_persoon"
      - "kadaster_natuurlijk_persoon"
    NietNatuurlijkPersoonBeperkt:
      allOf:
        - $ref: "#/components/schemas/PersoonBasis"
        - properties:
            type:
              $ref: "#/components/schemas/NietNatuurlijkPersoonType_enum"
    NietNatuurlijkPersoonType_enum:
      type: "string"
      description: "Een aanduiding die aangeeft of de persoon ingeschreven is in het Handelsregister (KvK) met een rsin, dan wel vastgelegd is bij het Kadaster."
      enum:
      - "ingeschreven_niet_natuurlijk_persoon"
      - "kadaster_niet_natuurlijk_persoon"
    Adres:
      properties:
        adresIdentificatie:
          type: string
          description: "identificatie van het adres in het geval dit adres in BAG geregistreerd is."
        huisnummer:
          type: "integer"
          description: "URI https://bag.basisregistraties.overheid.nl/doc/begrip/Huisnummer"
        huisletter:
          type: "string"
          description: "URI https://bag.basisregistraties.overheid.nl/doc/begrip/Huisletter"
          example: "A"
        huisnummerToevoeging:
          type: "string"
          description: "URI https://bag.basisregistraties.overheid.nl/doc/begrip/Huisnummertoevoeging"
          example: "3"
        straat:
          type: "string"
          example: "Laan van de landinrichtingscommissie Duiven-Westervoort"
        korteNaam:
          title: korteNaam
          description: 'De straatnaam, zo nodig volgens NEN5825 verkort tot maximaal 24 tekens.'
          type: string
          maxLength: 24
          example: 'Ln vd l D Westervoort'
        postcode:
          type: "string"
          example: "1234AA"
        woonplaats:
          type: "string"
          example: "Nootdorp"
        adresregel1:
          type: "string"
          description: "Het eerste deel van een adres is een combinatie van de straat en huisnummer."
          # example: "1600 Pennsylvania Avenue NW"
          example: "Laan van de landinrichtingscommissie Duiven-Westervoort 26A-3"
        adresregel2:
          type: "string"
          description: "Het tweede deel van een adres is een combinatie van woonplaats eventueel in combinatie met de postcode"
          # example: "Washington, DC 20500"
          example: "1234AA Nootdorp"
        adresregel3:
          type: "string"
          description: "Het derde deel van een adres is optioneel een of meer geografische gebieden van het adres in het buitenland"
          example: "Selangor"
        land:
          allOf:
          - $ref: "#/components/schemas/Waardelijst"
          - description: "Mogelijke waarden zijn te vinden in deze [Waardelijst](http://www.kadaster.nl/schemas/waardelijsten/BRPLand/)"
        inOnderzoek:
          type: "boolean"
          description: "Aanduiding waarmee wordt aangegeven dat een onderzoek wordt uitgevoerd naar de juistheid van een of meer gegevens van het adres."
      example:
        adresIdentificatie: "1234207890123456"
        huisnummer: 26
        huisletter: "A"
        huisnummerToevoeging: "3"
        straat: "Laan van de landinrichtingscommissie Duiven-Westervoort"
        korteNaam: "Ln vd l D Westervoort"
        postcode: "1234AA"
        woonplaats: "Nootdorp"
        adresregel1: "Laan van de landinrichtingscommissie Duiven-Westervoort 26A-3"
        adresregel2: "1234AA Nootdorp"
        inOnderzoek: true
      # voorbeeld adres buitenland:
      # example:
      #  adresregel1: "18.G, Jalan Setia Indah"
      #  adresregel2: "Seksyen U13, Setia Alam"
      #  adresregel3: "Shah Alam, Selangor"
      #  land:
      #    code: "Maleisië"
      #    waarde: "7026"
      #  inOnderzoek: true
    Postadres:
      allOf:
        - $ref: "#/components/schemas/Adres"
        - type: "object"
          properties:
            postbusnummer:
              type: "integer"
          example:
            postbusnummer: 1021
            postcode: 1234AA
            woonplaats: "Nootdorp"
            adresregel1: "Postbus 1021"
            adresregel2: "1234AA Nootdorp"
    Overlijden:
      type: "object"
      description: "Overlijden is een groep gegevens over het overlijden van een persoon."
      properties:
        datum:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
    PersoonBasis:
      type: "object"
      description: "Een persoon kan een natuurlijk persoon of een niet-natuurlijk persoon zijn. Kan zowel een ingeschreven persoon (in resp. BRP of KvK) of Kadasterpersoon zijn."
      properties:
        identificatie:
          type: string
          description: "Unieke identificatie voor de persoon. Voor een Kadasterpersoon is dit de identificatie zoals die door het Kadaster is vastgesteld. Voor een ingeschreven natuurlijk persoon is dit het burgerservicenummer. Voor een ingeschreven niet-natuurlijk persoon is dit het rsin."
        omschrijving:
          type: string
          description: "Voor mensen leesbare, herkenbare en identificerende omschrijving van de persoon (met bijvoorbeeld de naam van de persoon)."
    PersoonBeperkt:
      allOf:
        - $ref: "#/components/schemas/PersoonBasis"
        - properties:
            type:
              $ref: "#/components/schemas/PersoonType_enum"
    PersoonType_enum:
      type: "string"
      description: "Een aanduiding die aangeeft of het een natuurlijk dan wel niet-natuurlijk persoon betreft en of de persoon ingeschreven is in het BRP of Handelsregister (KvK), dan wel vastgelegd is bij het Kadaster."
      enum:
      - "ingeschreven_natuurlijk_persoon"
      - "kadaster_natuurlijk_persoon"
      - "ingeschreven_niet_natuurlijk_persoon"
      - "kadaster_niet_natuurlijk_persoon"
    Tenaamstelling:
      type: object
      description: "Een tenaamstelling is een registratie van (een aandeel in) een zakelijk recht dat een persoon heeft, dat rust op een kadastraal object.\n
      De tenaamstelling is ten name één van de volgende soorten persoon: kadasterNatuurlijkPersoon, kadasterNietNatuurlijkPersoon, ingeschrevenNatuurlijkPersoon, ingeschrevenNietNatuurlijkPersoon."
      properties:
        aandeel:
          $ref: "#/components/schemas/TypeBreuk"
        burgerlijkeStaatTenTijdeVanVerkrijging:
          allOf:
          - $ref: "#/components/schemas/Waardelijst"
          - description: "Mogelijke waarden zijn te vinden in deze [Waardelijst](http://www.kadaster.nl/schemas/waardelijsten/BurgerlijkeStaat/)"
        verkregenNamensSamenwerkingsverband:
           $ref: "#/components/schemas/Waardelijst"
        aantekening:
          $ref: "#/components/schemas/Aantekening"
        gezamenlijkAandeel:
          $ref: "#/components/schemas/TypeBreuk"
        betrokkenPartner:
          $ref: '#/components/schemas/NatuurlijkPersoonBeperkt'
        betrokkenSamenwerkingsverband:
          $ref: '#/components/schemas/NietNatuurlijkPersoonBeperkt'
        betrokkenGorzenEnAanwassen:
          $ref: '#/components/schemas/NietNatuurlijkPersoonBeperkt'
    typeGerechtigde_enum:
      type: string
      description: "Het type zakelijk recht dat deze gerechtigde heeft. Afgeleid van de aard zakelijk recht:\n
      * `beklemrechthouder` - 1 Beklemrechthouder\n
      * `eigenaar` - 2 Eigenaar\n
      * `erfpachter` - 3 Erfpachter\n
      * `gebruik_bewoning` - 4 Rechthebbende van Gebruik en bewoning\n
      * `grondrente` - 5 Grondrente gerechtigde\n
      * `opstalhouder` - 7 Opstalhouder\n
      * `vaderlandsrecht` - 9 Rechthebbende van Oud-vaderlandsrecht\n
      * `stadsmeierrecht` - 11 Rechthebbende van Stadsmeierrecht\n
      * `vruchtgebruiker` - 12 Vruchtgebruiker\n
      * `erfpachter_opstalhouder` - 13 Erfpachter en opstalhouder\n
      * `nutsvoorzieningen` - 14 Opstalhouder nutsvoorzieningen\n
      * `twee_belastingen` - 20 Zakelijk Rechthebbende na twee of meer zakelijke belastingen\n
      * `belasting_derde` - 21 Zakelijk rechthebbende belasting derde of volgende\n
      * `bp_recht` - 22 BP-gerechtigde\n
      * `nutsvoorzieningen_gedeelte` - 23 Opstalhouder Nutsvoorzieningen op gedeelte van perceel\n
      * `artikel5_3b` - 24 Zakelijk gerechtigde als bedoeld in artikel 5, lid 3, onder b, van de Belemmeringenwet Privaatrecht op gedeelte van perceel"
      enum:
        - "beklemrechthouder"
        - "eigenaar"
        - "erfpachter"
        - "gebruik_bewoning"
        - "grondrente"
        - "opstalhouder"
        - "vaderlandsrecht"
        - "stadsmeierrecht"
        - "vruchtgebruiker"
        - "erfpachter_opstalhouder"
        - "nutsvoorzieningen"
        - "twee_belastingen"
        - "belasting_derde"
        - "bp_recht"
        - "nutsvoorzieningen_gedeelte"
        - "artikel5_3b"
    TypeKadastraalOnroerendeZaak_enum:
      type: "string"
      enum:
      - "appartementsrecht"
      - "perceel"
    TypeKoopsom:
      type: "object"
      properties:
        koopsom:
          type: "integer"
        koopjaar:
          type: "integer"
        indicatieMetMeerObjectenVerkregen:
          type: "boolean"
    TypeKadastraleAanduiding:
      type: "object"
      description: "Kadastrale aanduiding is de unieke aanduiding van een onroerende\
        \ zaak, die door het kadaster wordt vastgesteld. Percelen worden kadastraal\
        \ aangeduid door vermelding van achtereenvolgens de kadastrale gemeente en\
        \ sectie, waarin de percelen en gedeelten van percelen zijn gelegen waarvan\
        \ het grondgebied tot die zaak behoort, alsmede de nummers van die percelen.\
        \ Voor een onroerende zaak die zich krachtens een opstalrecht op, in of boven\
        \ de grond van een ander bevindt, geldt dezelfde kadastrale aanduiding als\
        \ van de onroerende zaak die met dat opstalrecht is bezwaard. Dit is van overeenkomstige\
        \ toepassing op een onroerende zaak die zich op, in of boven de grond van\
        \ een ander bevindt krachtens een recht als bedoeld in het voor 1 januari\
        \ 1992 geldende artikel 5, derde lid, onder b, laatste zinsnede, van de Belemmeringenwet\
        \ Privaatrecht. Appartementsrechten worden kadastraal aangeduid door de vermelding\
        \ van achtereenvolgens de kadastrale gemeente en sectie, waarin de in de splitsing\
        \ betrokken percelen zijn gelegen, de complexaanduiding en de appartementsindex\
        \ (Een oplopend volgnummer van `0001` tot `9999`). De complexaanduiding bestaat\
        \ uit het voor de in de splitsing betrokken percelen vastgestelde complexnummer,\
        \ gevolgd door de hoofdletter A. Onze Minister stelt regelen vast omtrent\
        \ de vaststelling van het complexnummer. Er zijn 1111 kadastrale gemeentenamen.\
        \ Elke kadastrale gemeentenaam is uniek."
      properties:
        appartementsrechtVolgnummer:
          type: "integer"
          title: "appartementsrechtVolgnummer"
          description: "Nummer dat het kadastraal object uniek identificeert als een\
            \ appartementsrecht binnen het complex."
        kadastraleGemeente:
          allOf:
            - description: "De kadastrale gemeente, deel van de kadastrale aanduiding van de onroerende zaak. De waarden komen uit een Waardelijst( http://www.kadaster.nl/schemas/waardelijsten/KadastraleGemeente). Elke kadastrale gemeentenaam is uniek."
            - $ref: "#/components/schemas/Waardelijst"
        perceelnummer:
          type: "integer"
          title: "perceelnummer"
          description: "Het perceelnummer dat een geheel perceel of een complex uniek\
            \ identificeert binnen de sectie. Per kadastrale gemeente en per sectie\
            \ heeft een perceel een perceelnummer oplopend door de jaren heen van\
            \ 1 tot max 99999"
        sectie:
          type: "string"
          title: "sectie"
          description: "Sectie is een onderverdeling van de kadastrale gemeente, bedoeld\
            \ om het werk van de meetdienst en de kadastrale kaarten overzichtelijk\
            \ te houden. Per kadastrale gemeente zijn er max. 26x26 secties . Elke\
            \ sectie heeft een of twee letters (bijv. `A`, 'B', ....'AA', 'AB', ....'ZZ'\
            \ . Alleen de sectieletter `J` werd niet gebruikt om verwarring (handgeschreven)\
            \ te voorkomen met `I`"
          minLength: 1
    TypeOppervlak:
      type: "object"
      description: "Oppervlakte."
      properties:
        soortGrootte:
          allOf:
          - $ref: "#/components/schemas/Waardelijst"
          - description: "Mogelijke waarden zijn te vinden in deze [Waardelijst](http://www.kadaster.nl/schemas/waardelijsten/SoortGrootte/)"
        waarde:
          type: "integer"
          title: "waarde"
          description: "Oppervlak grootte, in vierkante meters."
    TypeBreuk:
      type: "object"
      description: "Een deling van twee gehele getallen"
      properties:
        noemer:
          type: "integer"
          title: "noemer"
          description: "De noemer van het deel."
          maximum: 99999999
        teller:
          type: "integer"
          title: "teller"
          description: "Het aantal delen. De teller is altijd lager dan de noemer."
          maximum: 99999999
    Waardelijst:
      type: "object"
      description: "Waardelijst is een samengesteld datatype voor het weergeven van\
        \ een gegeven binnen een extern beheerde referentielijst. De waardelijsten zijn beschikbaargesteld op [deze locatie](http://www.kadaster.nl/schemas/waardelijsten/)"
      properties:
        code:
          type: "string"
          title: "code"
          description: "De code van deze waarde. De code is uniek binnen de Waardelijst\
            \ en taalonafhankelijk."
          minLength: 1
        waarde:
          type: "string"
          title: "waarde"
          description: "De waarde zoals aangetroffen in de Waardelijst. het moment\
            \ waarop de waarde geassocieerd is met de meegeleverde code is onbepaald."
    ZakelijkGerechtigde:
      type: object
      properties:
        identificatie:
          type: "string"
          description: "Dit element is de identificatie van de zakelijk gerechtigde."
        typeGerechtigde:
          $ref: "#/components/schemas/typeGerechtigde_enum"
        aanvangsdatum:
          type: "string"
          description: "Datum waarop het zakelijk recht van kracht is geworden. "
          format: "date"
        erfpachtCanon:
          $ref: "#/components/schemas/ErfpachtCanon"
        tenaamstelling:
          $ref: "#/components/schemas/Tenaamstelling"
        stukIdentificaties:
          type: "array"
          description: "Dit element is de identificatie van het Stuk. Dit kan een aangeboden Stuk of een Kadasterstuk zijn."
          items:
            type: string
        persoon:
          $ref: "#/components/schemas/PersoonBeperkt"
    ZakelijkGerechtigdeHal:
      allOf:
      - $ref: "#/components/schemas/ZakelijkGerechtigde"
      - properties:
          _links:
            $ref: "#/components/schemas/ZakelijkGerechtigde_links"
    ZakelijkGerechtigdeHalCollectie:
      type: "object"
      properties:
        _links:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/HalCollectionLinks"
        _embedded:
          type: "object"
          properties:
            zakelijkGerechtigden:
              type: "array"
              items:
                $ref: "#/components/schemas/ZakelijkGerechtigdeHal"
    ZakelijkGerechtigde_links:
      type: "object"
      properties:
        self:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/HalLink"
        stukken:
          title: ""
          type: "array"
          items:
            $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/HalLink"
        persoon:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/HalLink"
        betrokkenPartner:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/HalLink"
        betrokkenSamenwerkingsverband:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/HalLink"
        betrokkenGorzenEnAanwassen:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/master/api-specificatie/common.yaml#/components/schemas/HalLink"
