<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint
        address="http://localhost:12469/ingeschrevenpersoon.svc"
        binding="basicHttpBinding"
        contract="StUF4.Koppelvlak.Services.NatuurlijkPersoon.BevraagIngeschrevenPersoon"
        />
      <endpoint
        address="http://localhost:54610/BevraagKadastraalOnroerendeZaak.svc"
        binding="basicHttpBinding"
        contract="StUF4.Koppelvlak.Services.KadastraleOnroerendeZaak.BevraagKadastraleOnroerendeZaak"
        />
    </client>
  </system.serviceModel>
</configuration>
<!--address="http://localhost.fiddler:12469/ingeschrevenpersoon.svc"-->
