openapi: 3.0.0
servers:
  - description: "Brk-bevragen Kadastraal Onroerende Zaak"
    url: https://service30.kadaster.nl/esd/bevragen/v1
info:
  title: Kadastraal onroerende zaken
  description: "D.m.v. deze toepassing worden meerdere, korte bevragingen op de Basis Registratie Kadaster beschikbaar gesteld. Deze toepassing betreft het verstrekken van Kadastrale Onroerende Zaak informatie."
  version: "1.0.0"
  contact:
    name: Kadaster Haal Centraal BRK-Bevragen
    url: https://github.com/VNG-Realisatie/Haal-Centraal-BRK-Bevragen
  license:
    name: European Union Public License, version 1.2 (EUPL-1.2)
    url: https://eupl.eu/1.2/nl/
paths:
  /kadastraalonroerendezaken:
    get:
      operationId: GetKadastraalOnroerendeZaken
      description: |
          Het zoeken van kadastraal onroerende zaken door een of meer parameters op te geven uit de categorieën kadastrale aanduiding, ingeschreven persoon, kadasterpersoon of Adres. Het combineren van parameters uit verschillende categorieën is niet toegestaan.
          1.  Kadastrale aanduiding
          2.  Ingeschreven persoon als zakelijk gerechtigde
              -  burgerservicenummer (verplicht)
              -  typegerechtigde (optioneel)
          3.  Niet ingeschreven persoon of niet natuurlijk persoon als zakelijk gerechtigde
              -  kadasterpersoonidentificatie (verplicht)
              -  typegerechtigde (optioneel)
          4.  Adres
              -  postcode (verplicht)
              -  huisnummer (optioneel)
              -  huisletter (optioneel)
              -  huisnummertoevoeging (optioneel)

          Met gebruik van de parameter expand kunnen zakelijkgerechtigden direct worden meegeladen.

          Het maximale aantal zoekresultaten dat geretourneerd wordt is aan de provider om te bepalen. Als het resultaat van de de request dit aantal overtreft worden er geen resultaten geretourneerd en volgt er een foutmelding.
      parameters:
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/acceptCrs"
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/expand"
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/fields"
        - in: query
          name: kadastraleaanduiding
          description: "Kadastrale aanduiding is een unieke aanduiding van een onroerende zaak. De volgorde waarin deze string wordt opgebouwd is

            - [Kadastrale gemeente](http://www.kadaster.nl/schemas/waardelijsten/KadastraleGemeente/).

            - sectie, 1 of 2 hoofdletters

            - perceelnummer, 1 tot 5 cijfers

            - appartementsrechtVolgnummer, Hoofdletter A gevolgd door 1 tot 4 cijfers (optioneel)


            gescheiden door een spatie"
          schema:
            type: "string"
            pattern: "^([a-zA-Z0-9'][a-zA-Z0-9' ,-]*[a-zA-Z0-9]) ([A-IK-Z]{1,2}) ([1-9][0-9]{0,4})( A[1-9][0-9]{0,3})?$"
            example: "'s Gravenhage C 1277 A3"
        - in: query
          name: ingeschrevenpersoon__burgerservicenummer
          description: "Het burgerservicenummer van de persoon die een zakelijk recht op een kadastraal onroerende zaak heeft. Deze persoon is zakelijk gerechtigde van de kadastraal onroerende zaak. Door deze query-parameter te gebruiken worden Kadastraal Onroerende Zaken geretourneerd waar deze persoon een zakelijk recht op heeft."
          required: false
          schema:
            type: string
            maxLength: 9
        - in: query
          name: persoon_kadasterpersoonidentificatie
          description: "De identificatie van de Kadasterpersoon, een niet-ingeschreven persoon of een rechtspersoon waarvan de gegevens door het kadaster zijn geregistreerd. Deze persoon is zakelijk gerechtigde van de Kadastraal Onroerende Zaak. Door deze query-parameter te gebruiken worden Kadastraal Onroerende Zaken geretourneerd waar deze persoon een zakelijk recht op heeft."
          required: false
          schema:
            type: string
        - in: query
          name: zakelijkgerechtigde__typegerechtigde
          description: "Een typering van het recht dat de zakelijkgerechtigde heeft op de Kadastraal Onroerende Zaak. Door het gebruik van deze query-parameter worden Kadastraal Onroerende Zaken geretourneerd waar een recht op rust van het opgegeven type."
          required: false
          schema:
            $ref: "#/components/schemas/TypeGerechtigde_enum"
        - in: query
          name: adres__postcode
          description: "De postcode van het adres van de objectlocatie van de kadastraal onroerende zaak"
          required: false
          schema:
            type: string
            pattern: "^[1-9][0-9][0-9][0-9][A-Z][A-Z]$"
        - in: query
          name: adres__huisnummer
          description: "Het huisnummer van het adres van de objectlocatie van de kadastraal onroerende zaak"
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 99999
        - in: query
          name: adres__huisletter
          description: "De huisletter van het adres van de objectlocatie van de kadastraal onroerende zaak"
          required: false
          schema:
            type: string
            pattern: "^[a-zA-Z]$"
        - in: query
          name: adres__huisnummertoevoeging
          description: "De huisnummertoevoeging van het adres van de objectlocatie van de kadastraal onroerende zaak"
          required: false
          schema:
            type: string
            pattern: "^([a-z,A-Z,0-9]){1,4}$"
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/api_version"
            Content-Crs:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/contentCrs"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/warning"
            X-Rate-Limit-Limit:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Limit"
            X-Rate-Limit-Remaining:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Remaining"
            X-Rate-Limit-Reset:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Reset"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/KadastraalOnroerendeZaakHalCollectie'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/403"
        '406':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/406"
        '409':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/409"
        '410':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/410"
        '415':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/415"
        '429':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/429"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/500"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/503"
      tags:
      - Kadastraal Onroerende Zaken
  /kadastraalonroerendezaken/{kadastraalonroerendezaakidentificatie}:
    get:
      operationId: GetKadastraalOnroerendeZaak
      description: |
        Het raadplegen van een kadastrale onroerende zaak.

        Met gebruik van de parameter expand kunnen zakelijkgerechtigden direct worden meegeladen.
      parameters:
        - in: path
          name: kadastraalonroerendezaakidentificatie
          description: "De unieke identificatie van een kadastraal onroerende zaak."
          required: true
          schema:
            type: string
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/acceptCrs"
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/expand"
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/fields"
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/api_version"
            Content-Crs:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/contentCrs"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/warning"
            X-Rate-Limit-Limit:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Limit"
            X-Rate-Limit-Remaining:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Remaining"
            X-Rate-Limit-Reset:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Reset"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/KadastraalOnroerendeZaakHal'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/403"
        '404':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/404"
        '406':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/406"
        '409':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/409"
        '410':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/410"
        '415':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/415"
        '429':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/429"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/500"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/503"
      tags:
      - Kadastraal Onroerende Zaken
  /kadastraalonroerendezaken/{kadastraalonroerendezaakidentificatie}/zakelijkgerechtigden/{zakelijkgerechtigdeidentificatie}:
    get:
      operationId: GetZakelijkGerechtigde
      description: "Het raadplegen van een specifieke zakelijk gerechtigde van een kadastraal onroerende zaak. Het aandeel van de zakelijk gerechtigde wordt altijd geleverd in combinatie met het gezamenlijk aandeel (wanneer twee of meer personen een gezamenlijk aandeel hebben in een zakelijk recht, en ieders afzonderlijke aandeel in het gezamenlijk aandeel niet bekend is)"
      parameters:
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/fields"
        - in: path
          name: kadastraalonroerendezaakidentificatie
          description: "De unieke identificatie van een kadastraal onroerende zaak."
          required: true
          schema:
            type: string
        - in: path
          name: zakelijkgerechtigdeidentificatie
          description: "De identificatie van de zakelijk gerechtigde"
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/warning"
            X-Rate-Limit-Limit:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Limit"
            X-Rate-Limit-Remaining:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Remaining"
            X-Rate-Limit-Reset:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Reset"
          content:
            application/hal+json:
              schema:
                $ref: "#/components/schemas/ZakelijkGerechtigdeHal"
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/403"
        '404':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/404"
        '406':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/406"
        '409':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/409"
        '410':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/410"
        '415':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/415"
        '429':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/429"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/500"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/503"
      tags:
      - Zakelijke Gerechtigden
  /kadastraalonroerendezaken/{kadastraalonroerendezaakidentificatie}/zakelijkgerechtigden:
    get:
      operationId: GetZakelijkGerechtigden
      description: "Het zoeken van zakelijk gerechtigden van een kadastraal onroerende zaak. Het aandeel van de zakelijk gerechtigde wordt altijd geleverd in combinatie met het gezamenlijk aandeel (wanneer twee of meer personen een gezamenlijk aandeel hebben in een zakelijk recht, en ieders afzonderlijke aandeel in het gezamenlijk aandeel niet bekend is)"
      parameters:
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/fields"
        - in: path
          name: kadastraalonroerendezaakidentificatie
          description: "De unieke identificatie van een kadastraal onroerende zaak."
          required: true
          schema:
            type: string
        - in: query
          name: typegerechtigde
          description: "Het type recht dat de zakelijk gerechtigde heeft op de kadastraal onroerende zaak. De waarden van de typering staan in een waardelijst."
          required: false
          schema:
            $ref: "#/components/schemas/TypeGerechtigde_enum"
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/warning"
            X-Rate-Limit-Limit:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Limit"
            X-Rate-Limit-Remaining:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Remaining"
            X-Rate-Limit-Reset:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Reset"
          content:
            application/hal+json:
              schema:
                $ref: "#/components/schemas/ZakelijkGerechtigdeHalCollectie"
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/403"
        '404':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/404"
        '406':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/406"
        '409':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/409"
        '410':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/410"
        '415':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/415"
        '429':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/429"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/500"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/503"
      tags:
      - Zakelijke Gerechtigden
  /kadasternatuurlijkpersonen/{kadasternatuurlijkpersoonidentificatie}:
    get:
      operationId: GetKadasterPersoon
      description: "Het raadplegen van een bij het kadaster geregistreerde natuurlijke persoon die niet in de basisregistratie personen (BRP) is ingeschreven (of wel is ingeschreven maar niet is gekoppeld bij het inschrijven van de akte). Kadasternatuurlijkpersonen worden niet geactualiseerd."
      parameters:
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/fields"
        - in: path
          name: kadasternatuurlijkpersoonidentificatie
          description: ""
          required: true
          schema:
            type: string
            maxLength: 60
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/warning"
            X-Rate-Limit-Limit:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Limit"
            X-Rate-Limit-Remaining:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Remaining"
            X-Rate-Limit-Reset:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Reset"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/KadasterNatuurlijkPersoonHal'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/403"
        '404':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/404"
        '406':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/406"
        '409':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/409"
        '410':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/410"
        '415':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/415"
        '429':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/429"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/500"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/503"
      tags:
      - Kadaster (niet)Natuurlijk Personen
  /kadasternietnatuurlijkpersonen/{kadasternietnatuurlijkpersoonidentificatie}:
    get:
      operationId: GetKadasterNietNatuurlijkPersoon
      description: "Het raadplegen van een bij het kadaster geregistreerde niet natuurlijke persoon die al dan niet in het handelsregister (HR) is ingeschreven. Kadasternietnatuurlijkpersonen worden niet geactualiseerd."
      parameters:
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/fields"
        - in: path
          name: kadasternietnatuurlijkpersoonidentificatie
          description: ""
          required: true
          schema:
            type: string
            maxLength: 60
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/warning"
            X-Rate-Limit-Limit:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Limit"
            X-Rate-Limit-Remaining:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Remaining"
            X-Rate-Limit-Reset:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Reset"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/KadasterNietNatuurlijkPersoonHal'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/403"
        '404':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/404"
        '406':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/406"
        '409':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/409"
        '410':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/410"
        '415':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/415"
        '429':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/429"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/500"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/503"
      tags:
      - Kadaster (niet)Natuurlijk Personen
  /kadasternatuurlijkpersonen:
    get:
      operationId: GetKadasterPersonen
      description: "Het zoeken van bij het kadaster geregistreerde natuurlijke personen die niet in de basisregistratie personen (BRP) zijn ingeschreven (of wel zijn ingeschreven maar niet zijn _gematched_ bij het inschrijven van de akte). Kadasternatuurlijkpersonen worden niet geactualiseerd. "
      parameters:
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/fields"
        - in: query
          name: q
          description: "Free query parameter. Dit endpoint evolueert naar free query zoeken. In deze versie kan alleen een combinatie van (het begin van) de geslachtsnaam en geboortedatum [YYYY-mm-dd] worden opgegeven."
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/warning"
            X-Rate-Limit-Limit:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Limit"
            X-Rate-Limit-Remaining:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Remaining"
            X-Rate-Limit-Reset:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Reset"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/KadasterNatuurlijkPersoonHalCollectie'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/403"
        '404':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/404"
        '406':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/406"
        '409':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/409"
        '410':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/410"
        '415':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/415"
        '429':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/429"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/500"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/503"
      tags:
      - Kadaster (niet)Natuurlijk Personen
  /kadasternietnatuurlijkpersonen:
    get:
      operationId: GetKadasterNietNatuurlijkPersonen
      description: "Het zoeken van bij het kadaster geregistreerde niet natuurlijke personen die al dan niet in het handelsregister (HR) zijn ingeschreven. Kadasternietnatuurlijkpersonen worden niet geactualiseerd."
      parameters:
        - $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/parameters/fields"
        - in: query
          name: q
          description: "Free query parameter. Dit endpoint evolueert naar free query zoeken. In deze versie kan alleen een combinatie van (het begin van de) de statutaire naam en zetel (vestigingsplaats) worden opgegeven. Let op! Een niet natuurlijk persoon kan meerdere keren, en op meer dan één manier voorkomen in de BRK."
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "Zoekactie geslaagd"
          headers:
            api-version:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/api_version"
            warning:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/warning"
            X-Rate-Limit-Limit:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Limit"
            X-Rate-Limit-Remaining:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Remaining"
            X-Rate-Limit-Reset:
              $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/headers/X_Rate_Limit_Reset"
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/KadasterNietNatuurlijkPersoonHalCollectie'
        '400':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/400"
        '401':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/401"
        '403':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/403"
        '404':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/404"
        '406':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/406"
        '409':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/409"
        '410':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/410"
        '415':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/415"
        '429':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/429"
        '500':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/500"
        '503':
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/responses/503"
      tags:
      - Kadaster (niet)Natuurlijk Personen
components:
  schemas:
    Aantekening:
      type: "object"
      description: "Waardelijst in deze component :
          [aard](http://www.kadaster.nl/schemas/waardelijsten/AardAantekening/)"
      properties:
        identificatie:
          type: "string"
        aard:
          $ref: "#/components/schemas/Waardelijst"
          description: "Mogelijke waarden zijn te vinden in deze [Waardelijst](http://www.kadaster.nl/schemas/waardelijsten/AardAantekening/)"
        omschrijving:
          type: "string"
        begrenzing:
          $ref: "http://schemas.opengis.net/ogcapi/features/part1/1.0/openapi/schemas/polygonGeoJSON.yaml"
        einddatum:
          type: "string"
          format: "date"
        einddatumRecht:
          type: "string"
          format: "date"
        indicatieOorspronkelijkObject:
          type: "boolean"
        betreftGedeelteVanPerceel:
          type: "boolean"
    Bedrag:
      type: "object"
      description: "Hoeveelheid geld in cijfers in een bepaalde valuta.


      Waardelijst in deze component :
          [Valuta](http://www.kadaster.nl/schemas/waardelijsten/Valuta/)"
      properties:
        som:
          type: "number"
          format: "float"
          description: "Het bedrag. Dit is een waarde met max. 2 decimalen."
        valuta:
          $ref: "#/components/schemas/Waardelijst"
          description: "Waardelijst wordt gepubliceerd op http://www.kadaster.nl/schemas/waardelijsten/Valuta"
    ErfpachtCanon:
      type: "object"
      description: "Het bedrag dat een erfpachter moet betalen aan de eigenaar van een stuk grond omdat hij zijn grond gebruikt.


        Waardelijst in deze component :
          [soortErfpachtCanon](http://www.kadaster.nl/schemas/waardelijsten/SoortErfpachtcanon/)"
      properties:
        soortErfpachtCanon:
          $ref: "#/components/schemas/Waardelijst"
          description: "Mogelijke waarden zijn te vinden in deze [Waardelijst](http://www.kadaster.nl/schemas/waardelijsten/SoortErfpachtcanon/)"
        jaarlijksBedrag:
          $ref: "#/components/schemas/Bedrag"
        betrefMeerOnroerendeZaken:
          type: "boolean"
        einddatumAfkoop:
          type: "string"
          format: "date"
        indicatieOudeOnroerendeZaakBetrokken:
          type: "boolean"
    Geboorte:
      type: "object"
      description: "Geboorte is een groep gegevens over de geboorte van een persoon.


      Waardelijst in deze component :
          [land](http://www.kadaster.nl/schemas/waardelijsten/BRPLand/)"
      properties:
        plaats:
          type: "string"
          title: "geboorteplaats"
          description: "De geboorteplaats is de plaats of een plaatsbepaling, die aangeeft waar de persoon is geboren"
        datum:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
        land:
          $ref: "#/components/schemas/Waardelijst"
          description: "Mogelijke waarden zijn te vinden in deze [Waardelijst](http://www.kadaster.nl/schemas/waardelijsten/BRPLand/)"
    Geslacht_enum:
      type: "string"
      description: "Een aanduiding die aangeeft dat de ingeschrevene een man of een\
        \ vrouw is, of dat het geslacht (nog) onbekend is:\n* `man` - Man\n* `vrouw` - Vrouw\n\
        * `onbekend` - Onbekend"
      enum:
      - "man"
      - "vrouw"
      - "onbekend"
    HeeftPartnerschap:
      type: "object"
      description: "Partnerschap is een groep gegevens over de huwelijkse- of partnerschapstatus\
        \ van een persoon."
      properties:
        datumOntbinding:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
        datumSluiting:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
        naam:
          $ref: "#/components/schemas/Naam"
    KadasterNatuurlijkPersoon:
      allOf:
      - $ref: "#/components/schemas/KadasterPersoon"
      - description: "Een bij het kadaster geregistreerde natuurlijke persoon die niet in de basisregistratie personen (BRP) is ingeschreven. Kadasternatuurlijkpersonen worden niet geactualiseerd.


        Waardelijst in deze component :
          [beschikkingsbevoegdheid](http://www.kadaster.nl/schemas/waardelijsten/Beschikkingsbevoegdheid/) en [landWaarnaarVertrokken](http://www.kadaster.nl/schemas/waardelijsten/BRPLand/)"
        properties:
          geheimhoudingPersoonsgegevens:
            type: "boolean"
            title: "indicatieGeheim"
            description: "Aanduiding die aangeeft dat gegevens\
              \ van een persoon wel of niet verstrekt mogen worden."
          landWaarnaarVertrokken:
            $ref: "#/components/schemas/Waardelijst"
            description: "Mogelijke waarden zijn te vinden in deze [Waardelijst](http://www.kadaster.nl/schemas/waardelijsten/BRPLand/)"
          geslachtsaanduiding:
            $ref: "#/components/schemas/Geslacht_enum"
          heeftPartnerschap:
            type: "array"
            items:
              $ref: "#/components/schemas/HeeftPartnerschap"
          naam:
            $ref: "#/components/schemas/Naam"
          geboorte:
            $ref: "#/components/schemas/Geboorte"
          overlijden:
            $ref: "#/components/schemas/Overlijden"
    KadasterNatuurlijkPersoonHal:
      allOf:
      - $ref: "#/components/schemas/KadasterNatuurlijkPersoon"
      - properties:
          _links:
            $ref: "#/components/schemas/KadasterPersoon_links"
    KadasterNatuurlijkPersoonHalCollectie:
      type: "object"
      properties:
        _links:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalCollectionLinks"
        _embedded:
          type: "object"
          properties:
            kadasterNatuurlijkPersonen:
              type: "array"
              items:
                $ref: "#/components/schemas/KadasterNatuurlijkPersoonHal"
    KadasterNietNatuurlijkPersoon:
      allOf:
      - $ref: "#/components/schemas/KadasterPersoon"
      - description: "Een bij het kadaster geregistreerde niet natuurlijke persoon, al dan niet ingeschreven in het handelsregister. Kadasternietnatuurlijkpersonen worden niet geactualiseerd.


        Waardelijst in deze component :
          [beschikkingsbevoegdheid](http://www.kadaster.nl/schemas/waardelijsten/Beschikkingsbevoegdheid/) en [rechtsvorm](http://www.kadaster.nl/schemas/waardelijsten/Rechtsvorm/)"
        properties:
          statutaireNaam:
            type: "string"
          statutaireZetel:
            type: "string"
          rechtsvorm:
            $ref: "#/components/schemas/Waardelijst"
            description: "Mogelijke waarden zijn te vinden in deze [Waardelijst](http://www.kadaster.nl/schemas/waardelijsten/Rechtsvorm/)"
          kvkNummer:
            type: "string"
          rsin:
            type: "string"
    KadasterNietNatuurlijkPersoonHal:
      allOf:
      - $ref: "#/components/schemas/KadasterNietNatuurlijkPersoon"
      - properties:
          _links:
            $ref: "#/components/schemas/KadasterPersoon_links"
    KadasterNietNatuurlijkPersoonHalCollectie:
      type: "object"
      properties:
        _links:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalCollectionLinks"
        _embedded:
          type: "object"
          properties:
            kadasterNietNatuurlijkPersonen:
              type: "array"
              items:
                $ref: "#/components/schemas/KadasterNietNatuurlijkPersoonHal"
    KadasterPersoon:
      allOf:
        - $ref: "#/components/schemas/PersoonBasis"
        - description: "Een in de basisregistratie kadaster geregistreerde persoon.


            Waardelijst in deze component :
            [beschikkingsbevoegdheid](http://www.kadaster.nl/schemas/waardelijsten/Beschikkingsbevoegdheid/)"
          properties:
            indicatieNietToonbareDiakriet:
              type: "boolean"
            beschikkingsbevoegdheid:
              $ref: "#/components/schemas/Waardelijst"
              description: "Mogelijke waarden zijn te vinden in deze [Waardelijst](http://www.kadaster.nl/schemas/waardelijsten/Beschikkingsbevoegdheid/)"
            woonadres:
              $ref: "#/components/schemas/Adres"
            postadres:
              $ref: "#/components/schemas/Postadres"
            kadastraalOnroerendeZaakIdentificaties:
              type: "array"
              items:
                type: "string"
            zakelijkGerechtigdeIdentificaties:
              type: "array"
              items:
                type: "string"
    KadasterPersoon_links:
      type: "object"
      properties:
        self:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink"
        woonadres:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink"
        postadres:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink"
        kadastraalOnroerendeZaken:
          type: array
          items:
            $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink"
        zakelijkGerechtigden:
          type: array
          items:
            $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink"
    KadastraalOnroerendeZaak:
      type: "object"
      description: "Een kadastraal onroerende zaak is een perceel of een appartementsrecht. Een perceel is een stuk grond waarvan het Kadaster de grenzen heeft gemeten en dat bij het Kadaster een eigen nummer heeft. Een appartementsrecht is het recht dat iemand of een organisatie heeft om eigenaar te zijn van een deel van een gebouw of een stuk grond. In de praktijk wordt dit deel meestal een appartement genoemd.


         Waardelijst in deze component :
         [aardCultuurBebouwd](http://www.kadaster.nl/schemas/waardelijsten/CultuurcodeBebouwd/) en [aardCultuurOnbebouwd](http://www.kadaster.nl/schemas/waardelijsten/CultuurcodeOnbebouwd/) "
      properties:
        identificatie:
          type: "string"
        begrenzingPerceel:
          $ref: "http://schemas.opengis.net/ogcapi/features/part1/1.0/openapi/schemas/polygonGeoJSON.yaml"
        perceelnummerRotatie:
          type: "number"
          description: "Rotatie van het perceelnummer ten behoeve van visualisatie op de kaart. Perceelnummers worden bijvoorbeeld gekanteld om in een smal perceel te passen."
          maximum: 999
        plaatscoordinaten:
          $ref: "http://schemas.opengis.net/ogcapi/features/part1/1.0/openapi/schemas/pointGeoJSON.yaml"
        koopsom:
          $ref: "#/components/schemas/TypeKoopsom"
        toelichtingBewaarder:
          type: "string"
          description: "Toelichtende tekst bij een onroerende zaak van de bewaarder. De bewaarder is iemand die bij het Kadaster werkt. Hij schrijft stukken in in de openbare registers en de basisregistratie Kadaster conform de Kadasterwet."
        type:
          $ref: "#/components/schemas/TypeKadastraalOnroerendeZaak_enum"
        aardCultuurBebouwd:
          $ref: "#/components/schemas/Waardelijst"
          description: "Mogelijke waarden zijn te vinden in deze [Waardelijst](http://www.kadaster.nl/schemas/waardelijsten/CultuurcodeBebouwd/)"
        aardCultuurOnbebouwd:
          $ref: "#/components/schemas/Waardelijst"
          description: "Mogelijke waarden zijn te vinden in deze [Waardelijst](http://www.kadaster.nl/schemas/waardelijsten/CultuurcodeOnbebouwd/)"
        kadastraleAanduiding:
          type: "string"
        kadastraleGrootte:
          $ref: "#/components/schemas/TypeOppervlak"
        perceelnummerVerschuiving:
          $ref: "#/components/schemas/TypePerceelnummerVerschuiving"
        zakelijkGerechtigdeIdentificaties:
          type: "array"
          description: "Alle personen en rechtspersonen die een zakelijk recht hebben op deze kadastaraal onroerende zaak"
          items:
            type: string
    KadastraalOnroerendeZaakHal:
      allOf:
      - $ref: "#/components/schemas/KadastraalOnroerendeZaak"
      - properties:
          _links:
            $ref: "#/components/schemas/KadastraalOnroerendeZaak_links"
          _embedded:
            $ref: "#/components/schemas/KadastraalOnroerendeZaak_embedded"
    KadastraalOnroerendeZaakHalCollectie:
      type: "object"
      properties:
        _links:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalCollectionLinks"
        _embedded:
          type: "object"
          properties:
            kadastraalOnroerendeZaken:
              type: "array"
              items:
                $ref: "#/components/schemas/KadastraalOnroerendeZaakHal"
    KadastraalOnroerendeZaak_embedded:
      type: "object"
      properties:
        zakelijkGerechtigden:
          type: "array"
          items:
            $ref: "#/components/schemas/ZakelijkGerechtigdeHal"
    KadastraalOnroerendeZaak_links:
      type: "object"
      properties:
        self:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink"
        zakelijkGerechtigden:
          type: "array"
          items:
            $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink"
    Naam:
      type: "object"
      description: "Naam is een groep gegevens met de geslachtsnaam, voorletters en voornamen die men wil gebruiken bij aanschrijving."
      properties:
        geslachtsnaam:
          type: "string"
          description: "De geslachtsnaam is de (achter)naam waarvan eventuele voorvoegsels en adellijke titel zijn afgesplitst."
        voornamen:
          type: "string"
          description: "De voornamen zijn de verzameling namen die, gescheiden door spaties, aan de geslachtsnaam voorafgaat. Indien aanwezig, wordt het predikaat afgesplitst."
        voorvoegsel:
          type: "string"
          title: "voorvoegselsgeslachtsnaam"
          description: "Voorvoegselsgeslachtsnaam is het deel van de geslachtsnaam dat, gescheiden door een spatie, vooraf gaat aan de rest van de geslachtsnaam."
    NatuurlijkPersoonBeperkt:
      allOf:
        - $ref: "#/components/schemas/PersoonBasis"
        - description: "Natuurlijk persoon. Kan een ingeschreven persoon (in de basisregistratie personen (BRP)) of Kadasterpersoon zijn."
          properties:
            type:
              $ref: "#/components/schemas/NatuurlijkPersoonType_enum"
    NatuurlijkPersoonType_enum:
      type: "string"
      description: "Een aanduiding die aangeeft of de persoon ingeschreven is in het BRP met een burgerservicenummer, dan wel vastgelegd is bij het Kadaster."
      enum:
      - "ingeschreven_natuurlijk_persoon"
      - "kadaster_natuurlijk_persoon"
    NietNatuurlijkPersoonBeperkt:
      allOf:
        - $ref: "#/components/schemas/PersoonBasis"
        - description: "Een niet-natuurlijk persoon."
          properties:
            type:
              $ref: "#/components/schemas/NietNatuurlijkPersoonType_enum"
    NietNatuurlijkPersoonType_enum:
      type: "string"
      description: "Een aanduiding die aangeeft of de persoon ingeschreven is in het Handelsregister (KvK) met een rsin, dan wel vastgelegd is bij het Kadaster."
      enum:
      - "ingeschreven_niet_natuurlijk_persoon"
      - "kadaster_niet_natuurlijk_persoon"
    Adres:
      description: "Waardelijst in deze component :
          [land](http://www.kadaster.nl/schemas/waardelijsten/BRPLand/)"
      properties:
        nummeraanduidingIdentificatie:
          type: string
          description: "identificatie van het adres in het geval dit adres in BAG geregistreerd is."
        huisnummer:
          type: "integer"
          description: "URI https://bag.basisregistraties.overheid.nl/doc/begrip/Huisnummer"
        huisletter:
          type: "string"
          description: "URI https://bag.basisregistraties.overheid.nl/doc/begrip/Huisletter"
          example: "A"
        huisnummerToevoeging:
          type: "string"
          description: "URI https://bag.basisregistraties.overheid.nl/doc/begrip/Huisnummertoevoeging"
          example: "3"
        straat:
          type: "string"
          example: "Laan van de landinrichtingscommissie Duiven-Westervoort"
        postcode:
          type: "string"
          example: "1234AA"
        woonplaats:
          type: "string"
          example: "Nootdorp"
        adresregel1:
          type: "string"
          description: "Het eerste deel van een adres is een combinatie van de straat en huisnummer."
          # example: "1600 Pennsylvania Avenue NW"
          example: "Laan van de landinrichtingscommissie Duiven-Westervoort 26A-3"
        adresregel2:
          type: "string"
          description: "Het tweede deel van een adres is een combinatie van woonplaats eventueel in combinatie met de postcode"
          # example: "Washington, DC 20500"
          example: "1234AA Nootdorp"
        adresregel3:
          type: "string"
          description: "Het derde deel van een adres is optioneel een of meer geografische gebieden van het adres in het buitenland"
          example: "Selangor"
        land:
          $ref: "#/components/schemas/Waardelijst"
          description: "Mogelijke waarden zijn te vinden in deze [Waardelijst](http://www.kadaster.nl/schemas/waardelijsten/BRPLand/)"
      example:
        nummeraanduidingIdentificatie: "1234207890123456"
        huisnummer: 26
        huisletter: "A"
        huisnummerToevoeging: "3"
        straat: "Laan van de landinrichtingscommissie Duiven-Westervoort"
        postcode: "1234AA"
        woonplaats: "Nootdorp"
        adresregel1: "Laan van de landinrichtingscommissie Duiven-Westervoort 26A-3"
        adresregel2: "1234AA Nootdorp"
      # voorbeeld adres buitenland:
      # example:
      #  adresregel1: "18.G, Jalan Setia Indah"
      #  adresregel2: "Seksyen U13, Setia Alam"
      #  adresregel3: "Shah Alam, Selangor"
      #  land:
      #    code: "Maleisië"
      #    waarde: "7026"
    Postadres:
      allOf:
        - $ref: "#/components/schemas/Adres"
        - type: "object"
          properties:
            postbusnummer:
              type: "integer"
          example:
            postbusnummer: 1021
            postcode: 1234AA
            woonplaats: "Nootdorp"
            adresregel1: "Postbus 1021"
            adresregel2: "1234AA Nootdorp"
    Overlijden:
      type: "object"
      description: "Overlijden is een groep gegevens over het overlijden van een persoon."
      properties:
        datum:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/Datum_onvolledig"
    PersoonBasis:
      type: "object"
      description: "Een persoon kan een natuurlijk persoon of een niet-natuurlijk persoon zijn. Kan zowel een ingeschreven persoon (in resp. BRP of KvK) of Kadasterpersoon zijn."
      properties:
        identificatie:
          type: string
          description: "Unieke identificatie voor de persoon. Voor een Kadasterpersoon is dit de identificatie zoals die door het Kadaster is vastgesteld. Voor een ingeschreven natuurlijk persoon is dit het burgerservicenummer. Voor een ingeschreven niet-natuurlijk persoon is dit het RSIN. Of de waarde in identificatie een burgerservicenummer, een RSIN of een kadasterpersoonidentificatie is kan worden afgeleid uit het type persoon."
        omschrijving:
          type: string
          description: "Voor mensen leesbare, herkenbare en identificerende omschrijving van de persoon (met bijvoorbeeld de naam)."
    PersoonBeperkt:
      allOf:
        - $ref: "#/components/schemas/PersoonBasis"
        - properties:
            type:
              $ref: "#/components/schemas/PersoonType_enum"
    PersoonType_enum:
      type: "string"
      description: "Een aanduiding die aangeeft of het een natuurlijk dan wel niet-natuurlijk persoon betreft en of de persoon ingeschreven is in het BRP of Handelsregister (KvK), dan wel vastgelegd is bij het Kadaster."
      enum:
      - "ingeschreven_natuurlijk_persoon"
      - "kadaster_natuurlijk_persoon"
      - "ingeschreven_niet_natuurlijk_persoon"
      - "kadaster_niet_natuurlijk_persoon"
    Tenaamstelling:
      type: object
      description: "Een registratie van (een aandeel in) een zakelijk recht dat een persoon heeft, dat rust op een kadastraal onroerende zaak.


      Waardelijst in deze component :
          [burgerlijkeStaatTenTijdeVanVerkrijging](http://www.kadaster.nl/schemas/waardelijsten/BurgerlijkeStaat/) en [verkregenNamensSamenwerkingsverband](http://www.kadaster.nl/schemas/waardelijsten/Samenwerkingsverband/)"
      properties:
        aandeel:
          $ref: "#/components/schemas/TypeBreuk"
        burgerlijkeStaatTenTijdeVanVerkrijging:
          $ref: "#/components/schemas/Waardelijst"
          description: "Mogelijke waarden zijn te vinden in deze [Waardelijst](http://www.kadaster.nl/schemas/waardelijsten/BurgerlijkeStaat/)"
        verkregenNamensSamenwerkingsverband:
          $ref: "#/components/schemas/Waardelijst"
          description: "Mogelijke waarden zijn te vinden in deze [Waardelijst](http://www.kadaster.nl/schemas/waardelijsten/Samenwerkingsverband/)"
        aantekening:
          $ref: "#/components/schemas/Aantekening"
          description: "Een aantekening is een verwijzing naar een ter inschrijving aangeboden stuk. Een aantekening op een tenaamstelling van een zakelijk recht is meestal een beperking. Bijvoorbeeld de verkrijging van een aandeel in een zakelijk recht onder opschortende voorwaarde, een beperking van de handelingsbevoegdheid van de zakelijk gerechtigde, of een koopovereenkomst"
        gezamenlijkAandeel:
          $ref: "#/components/schemas/TypeBreuk"
          description: "Wanneer twee of meer personen een gezamenlijk aandeel hebben in een zakelijk recht, waarbij het afzonderlijke aandeel in het gezamenlijk aandeel niet bekend is."
        betrokkenPartner:
          $ref: '#/components/schemas/NatuurlijkPersoonBeperkt'
        betrokkenSamenwerkingsverband:
          $ref: '#/components/schemas/NietNatuurlijkPersoonBeperkt'
        betrokkenGorzenEnAanwassen:
          $ref: '#/components/schemas/NietNatuurlijkPersoonBeperkt'
    TypeBreuk:
      type: "object"
      description: "Een deling van twee gehele getallen"
      properties:
        noemer:
          type: "integer"
          title: "noemer"
          description: "De noemer van het deel."
          minimum: 1
          maximum: 99999999
        teller:
          type: "integer"
          title: "teller"
          description: "Het aantal delen. De teller is altijd lager dan de noemer."
          maximum: 99999999
      example:
        noemer: 2
        teller: 1
    TypeGerechtigde_enum:
      type: string
      description: "Het type zakelijk recht dat deze gerechtigde heeft. Afgeleid van de aard zakelijk recht:\n
      * `beklemrechthouder` - 1 Beklemrechthouder\n
      * `eigenaar` - 2 Eigenaar\n
      * `erfpachter` - 3 Erfpachter\n
      * `gebruik_bewoning` - 4 Rechthebbende van Gebruik en bewoning\n
      * `grondrente` - 5 Grondrente gerechtigde\n
      * `opstalhouder` - 7 Opstalhouder\n
      * `vaderlandsrecht` - 9 Rechthebbende van Oud-vaderlandsrecht\n
      * `stadsmeierrecht` - 11 Rechthebbende van Stadsmeierrecht\n
      * `vruchtgebruiker` - 12 Vruchtgebruiker\n
      * `erfpachter_opstalhouder` - 13 Erfpachter en opstalhouder\n
      * `nutsvoorzieningen` - 14 Opstalhouder nutsvoorzieningen\n
      * `twee_belastingen` - 20 Zakelijk Rechthebbende na twee of meer zakelijke belastingen\n
      * `belasting_derde` - 21 Zakelijk rechthebbende belasting derde of volgende\n
      * `bp_recht` - 22 BP-gerechtigde\n
      * `nutsvoorzieningen_gedeelte` - 23 Opstalhouder Nutsvoorzieningen op gedeelte van perceel\n
      * `artikel5_3b` - 24 Zakelijk gerechtigde als bedoeld in artikel 5, lid 3, onder b, van de Belemmeringenwet Privaatrecht op gedeelte van perceel"
      enum:
        - "beklemrechthouder"
        - "eigenaar"
        - "erfpachter"
        - "gebruik_bewoning"
        - "grondrente"
        - "opstalhouder"
        - "vaderlandsrecht"
        - "stadsmeierrecht"
        - "vruchtgebruiker"
        - "erfpachter_opstalhouder"
        - "nutsvoorzieningen"
        - "twee_belastingen"
        - "belasting_derde"
        - "bp_recht"
        - "nutsvoorzieningen_gedeelte"
        - "artikel5_3b"
    TypeKadastraalOnroerendeZaak_enum:
      type: "string"
      enum:
      - "appartementsrecht"
      - "perceel"
    TypeKoopsom:
      type: "object"
      properties:
        koopsom:
          type: "integer"
        koopjaar:
          type: "integer"
        indicatieMetMeerObjectenVerkregen:
          type: "boolean"
    TypeOppervlak:
      type: "object"
      description: "Oppervlakte


      Waardelijst in deze component :
          [soortGrootte](http://www.kadaster.nl/schemas/waardelijsten/SoortGrootte/)"
      properties:
        soortGrootte:
          $ref: "#/components/schemas/Waardelijst"
          description: "Mogelijke waarden zijn te vinden in deze [Waardelijst](http://www.kadaster.nl/schemas/waardelijsten/SoortGrootte/)"
        waarde:
          type: "integer"
          description: "Oppervlak grootte, in vierkante meters"
    TypePerceelnummerVerschuiving:
      type: "object"
      description: "Verschuiving van het perceelnummer ten behoeve van visualisatie op een kaart. Dit voorkomt dat perceelnummers van kleine percelen elkaar overlappen."
      properties:
        deltax:
          type: "number"
          description: "Verschuiving op de X as."
        deltay:
          type: "number"
          description: "Verschuiving op de Y as."
    Waardelijst:
      type: "object"
      description: "Waardelijst is een samengesteld datatype voor het weergeven van\
        \ een gegeven binnen een extern beheerde referentielijst. De waardelijsten zijn beschikbaargesteld op [deze locatie](http://www.kadaster.nl/schemas/waardelijsten/)"
      properties:
        code:
          type: "string"
          minLength: 1
        waarde:
          type: "string"
    ZakelijkGerechtigde:
      type: object
      properties:
        identificatie:
          type: "string"
          description: "Identificatie van de zakelijk gerechtigde."
        type:
          $ref: "#/components/schemas/TypeGerechtigde_enum"
        aanvangsdatum:
          type: "string"
          description: "Datum waarop het zakelijk recht van kracht is geworden. "
          format: "date"
        erfpachtCanon:
          $ref: "#/components/schemas/ErfpachtCanon"
        tenaamstelling:
          $ref: "#/components/schemas/Tenaamstelling"
        persoon:
          $ref: "#/components/schemas/PersoonBeperkt"
    ZakelijkGerechtigdeHal:
      allOf:
      - $ref: "#/components/schemas/ZakelijkGerechtigde"
      - properties:
          _links:
            $ref: "#/components/schemas/ZakelijkGerechtigde_links"
    ZakelijkGerechtigdeHalCollectie:
      type: "object"
      properties:
        _links:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalCollectionLinks"
        _embedded:
          type: "object"
          properties:
            zakelijkGerechtigden:
              type: "array"
              items:
                $ref: "#/components/schemas/ZakelijkGerechtigdeHal"
    ZakelijkGerechtigde_links:
      type: "object"
      properties:
        self:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink"
        persoon:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink"
        betrokkenPartner:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink"
        betrokkenSamenwerkingsverband:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink"
        betrokkenGorzenEnAanwassen:
          $ref: "https://raw.githubusercontent.com/VNG-Realisatie/Haal-Centraal-common/v1.0.0/api-specificatie/common.yaml#/components/schemas/HalLink"
